*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face
{
    src: url(../../font/proxima_ssv/proxima_ssv/ProximaNova-Regular.otf);
    font-family: nova;
}
a
{
    text-decoration: none;
}
.custom-btn
{
    padding: 20px 32px !important;
    font-family: nova;
    font-size: 23px;
    font-weight: 600;
    margin: 15px 0;
    transition: 0.3s;
}
.custom-btn:hover
{
    opacity: 0.8;
}
.head-text h1
{
    font-family: "archivo black", sans-serif;
    margin-bottom: 25px;
    letter-spacing: -0.09em;
    line-height: 1em;
}

@media only screen and (max-width: 750px)
{
    .custom-btn
    {
        font-size: clamp(16px, 5.5vw, 20px);
    }

}
