@mixin primarySectionPadding() {
    padding: 5px 80px;
}
@mixin secondarySectionPadding() {
    padding: 5px 150px;
}
@mixin gridCenter() {
    display: grid;
    align-items: center;
    justify-items: center;
}
@mixin bgImg() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin tablink() {
    color: $thridBlackClr;
    padding-bottom: 10px;
    margin-right: 40px;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    cursor: pointer;

    &:hover
    {
        color: $primaryBlackClr;
    }
}
@mixin activeTablink() {
    color: $primaryBlackClr;
    border-bottom: 3px solid;
    border-color: $primarySolidClr;
}

@mixin dashboardheader() {
    background-color: $primaryWhiteClr;
    color: $secondaryBlackclr;
    box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.2);

    .logo-text
    {
        color: $secondaryBlackclr;
    }

    .nav-menu
    {
        a
        {
            color: $secondaryBlackclr;
            
            h5 
            {
                padding: 10px;
            }
        }
        .nav-course 
        {
            a 
            {
                

                i 
                {
                    font-weight: 500;
                    font-size: 16px;
                    margin-left: 5px;
                    line-height: 100%;
                }
            }
        }
        .nav-notification
        {

            a 
            {
                padding: 0px;
                position: relative;
                i 
                {
                    color: $primarySolidClr;
                    font-size: 24px;
                    padding: 10px;
                }
                .notification-number 
                {
                    height: 25px;
                    width: 25px;
                    display: grid;
                    align-items: center;
                    text-align: center;
                    background-color: $secondaryBlackclr;
                    color: $primaryWhiteClr;
                    border-radius: 50px;
                    position: absolute;
                    top: -50%;
                    right: -45%;
                    transform: translate(-50%, -50%);

                    // p 
                    // {
                        
                    // }
                }
            }
            .dropdown-content
            {
                // display: none;
                white-space: normal !important;

                >* 
                {
                    width: 500px;
                }
                .notification-header
                {
                    display: grid;
                    grid-template-columns: auto auto;
                    align-items: center;
                    padding: 10px 15px;
                }
                .notifications
                {
                    padding: 10px 15px;
                }
            }
        }
        .nav-profile
        {
            a 
            {
                display: flex;
                
                h5 
                {
                    margin-right: 15px;
                }
                .img 
                {
                    position: relative;
                    img 
                    {
                        width: 25px;
                        height: 25px;
                        object-fit: cover;
                        border-radius: 50px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        
                    }
                    i 
                    {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 26px;
                        background-color: white;
                        display: none;
                    }
                }
            }
            
        }
        .dropdown 
        {
            position: relative;

            .dropdown-content
            {
                display: none;
                position: absolute;
                top: 145%;
                right: 0;
                background-color: $primaryWhiteClr;
                box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.25);
                white-space: nowrap;
                max-width: 500px;

                a 
                {
                    p
                    {
                        padding: 10px 15px;
                    }
                }
            }
        }
    }
}

@mixin dashboardsubhead() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include secondarySectionPadding();
    background-color: $primarySolidClr;
    
    .col-1 
    {
        .page-link
        {
            display: flex;

            > *
            {
                padding: 5px;
            }
            a 
            {
                color: $primaryWhiteClr;
                
                i 
                {
                    padding: 0 5px;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 100%;
                }
            }
        }
    }
    .col-2
    {
        display: flex;

        > * 
        {
            padding: 5px 15px ;
        }
        a 
        {
            color: $primaryWhiteClr;
            display: flex;
            align-items: center;

            img 
            {
                width: 20px;
                height: 20px;
            }
            p 
            {
                margin-left: 10px;
            }
        }
    }
}

@mixin dashboardfooter {
    .upper-part
    {
        background: $forthWhiteClr;
        color: $secondaryBlackclr;
    }
}
