@mixin primarySectionPadding() {
    padding: 5px 80px;
}
@mixin secondarySectionPadding() {
    padding: 5px 150px;
}
@mixin gridCenter() {
    display: grid;
    align-items: center;
    justify-items: center;
}
@mixin bgImg() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}