$primarySolidClr : #1BB899;
$secondarySolidClr : #12856e;
$hoverSolidClr : linear-gradient(to right, #1BB899 0%, #1BB899 15%, #1B9CB8 100%);


$primaryBlackClr : #000;
$secondaryBlackclr : #262626;
$thridBlackClr: #404040;
$forthBlackClr: #606060;

$primaryWhiteClr : #ffffff;
$secondaryWhiteClr : #FAFAFA;
$thirdWhiteClr: #cacaca;
$forthWhiteClr: #f3f3f3;

$primaryGradClr : linear-gradient(to right, #CC2B5E 0%, #F48400 100%);
$hoverGradClr : linear-gradient(to right, #CC2B5E 0%, #F48400 50%, #CC2B5E 100%);
$secondaryGradClr : linear-gradient(to right, #24243E 0%, #302B63 50%, #24243E 100%);
$thirdGradClr : linear-gradient(to right, #00417C, #1CB5E0);


$ratingClr: #FFB800;