.container
{
    section 
    {
        > .title 
        {
            h1 
            {
                color: $primarySolidClr;
                margin-bottom: 20px;
            }
        }
    }
    .card
    {

        // border: 1px solid black;
        box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.25);
        border-radius: 6px;
        position: relative;
        margin: 0px 0 20px 0;
        // overflow-y: hidden;
        .img
        {
            img
            {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 6px 6px 0 0;
            }
            .img-ribbon
            {
                position: absolute;
                top: 15px;
                right: 20px;
                padding: 10px 20px;
                width: fit-content;
                border-radius: 6px;
                background: $primaryGradClr;
                color: $primaryWhiteClr;
            }
        }

        .description
        {
            padding: 10px 30px;

            > *
            {
                margin: 10px 0;
            }
            .rating
            {
                i
                {
                    color: $ratingClr;
                }
            }
            .instructor
            {
                margin-bottom: 25px;

                h4
                {
                    font-size: 14px;
                }
            }
            .card-detail
            {
                display: grid;
                grid-template-columns: auto auto auto;
                align-items: center;
                grid-gap: 10px;

                small
                {
                    font-size: 16px;
                    font-family: gothamMedium;
                }
                
                .time, .watched
                {
                    @include gridCenter();
                    grid-template-columns: auto auto;
                }
                
            }
        }
    }
    .sub-header
    {
        .nav-menu
        {
            a 
            {
                display: flex;
                align-items: center;
                width: fit-content;
                border-radius: 50px;
                transition: 0.3s ease-in-out;

                &:hover
                {
                    background: rgba($color: #F1F1F1, $alpha: 1.0);
                }
                i 
                {
                    padding-right: 15px;
                }
                h4 
                {
                    border-radius: unset;
                    padding: 5px 15px;

                    &:hover
                    {
                        background: unset;
                    }
                }
            }
        }
        .btn 
        {
            justify-self: right;
            
            button 
            {
                @include gradBorderBtn($primaryBlackClr, 2px 1000px $secondaryWhiteClr inset)
            }
        }
    }
    .learning-interest
    {
        @include secondarySectionPadding();
        margin: 50px 0;

        .content-wrap 
        {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 30px;
            
            
            > *
            {
                padding: 30px 30px 15px;
                border-radius: 6px;
                box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.25);
                transition: 0.3s ease-in-out;

                &:hover 
                {
                    box-shadow: 0 2px 8px rgba($color: #000000, $alpha: 0.25);
                }
            }
            .content 
            {
                text-align: center;
                
                img 
                {
                    margin-bottom: 10px;
                }
            }
        }
    }
    .resources
    {
        @include secondarySectionPadding();
        margin: 50px 0;
    
        .resource-wrap
        {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;

            .content
            {
                display: flex;
                align-items: center;
                box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.25);
                padding: 15px 30px;
                border-radius: 6px;

                .img 
                {
                    margin-right: 20px;

                    img 
                    {
                        width: 65px;
                        height: 65px;
                        
                    }
                }
                .text 
                {
                    h4.light-small 
                    {
                        color: $primarySolidClr;
                        margin-top: 10px;
                    }
                }
            }
        }

    }
    .recent-article
    {
        @include secondarySectionPadding();
        margin: 50px 0;

        .card-wrap
        {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
        }
        .collapsible 
        {
            margin: 20px auto;
            width: fit-content;
            padding: 10px 15px;
            background-color: $secondaryBlackclr;
            color: $primaryWhiteClr;
            font-family: "montserrat", sans-serif;
            font-size: 20px;
            font-weight: 700;
            border-radius: 6px;

            &:before 
            {
                content: "View More";
            }

        }
        .active:before
        {
            content: "View Less";
        }
        .content 
        {
            max-height: 0;
            overflow: hidden;
            transition: 0.3s ease-in-out;
        }
    }
    .popular-article
    {
        @include secondarySectionPadding();

        .card-wrap 
        {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
        }
        .pagination 
        {
            margin: 20px auto;
            width: fit-content;
            padding: 10px;
            border-radius: 50px;
            box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.25);
            a 
            {
                font-family: "montserrat",sans-serif;
                font-weight: 500;
                font-size: 20px;
                padding: 5px 8px;
                transition: 0.3s ease-in-out;
                border-radius: 100px;
                
                &:hover 
                {
                    background-color: $forthWhiteClr;
                }
            }
            #one 
            {
                padding: 5px 14px;
            }
            #two,#three,#four,#five
            {
                padding: 5px 11px;
            }
        }
    }

}