.container
{
    h4
    {
        display: inline;
    }
    .sub-header
    {
        @include secondarySectionPadding();
        @include gridCenter();
        grid-template-columns: auto auto;
        box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
        position: sticky;
        top: 75px;
        background-color: $primaryWhiteClr;
        z-index: 999;

        .tab 
        {
            justify-self: flex-start;
            .tablink
            {
                display: inline;
                padding: 8px 0;
                margin-right: 30px;
                border-bottom: 3px solid transparent;
                color: $thridBlackClr;
                transition: 0.3s ease-in-out;

                &:hover 
                {
                    color: $secondaryBlackclr;
                }
            }
            .tablink.active
            {
                color: $secondaryBlackclr;
                border-bottom: 3px solid;
                border-color: $primarySolidClr;
            }
            
        }
        .drop-down 
        {
            justify-self: end;

            .hamburger-menu
            {
                
                z-index: 99;
                button 
                {
                    padding: 5px;
                    border-radius: 50%;
                    display: grid;
                    align-items: center;
                }
            }
            .menu-content
            {
                padding: 20px 0;
                background-color: $primaryWhiteClr;
                margin-top: 0px;
                // width: fit-content;
                // height: 35em;
                position: absolute;
                right: 150px;
                z-index: -1;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-100%);
                transition: 0.4s;
                box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);


                .cata 
                {
                    p 
                    {
                        display: block;
                        padding: 5px 30px;

                        &:hover 
                        {
                            background-color: $forthWhiteClr;
                            // text-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.25);
                        }
                    }
                }
            }

            .active
            {
                transform: translateY(0%);
                opacity: 1;
                visibility: visible;
                z-index: 1;
            }
        }
        
    }
    .tabcontent 
    {
        @include secondarySectionPadding();
        background-color: $primaryWhiteClr;
        display: none;

        .content 
        {
            margin: 50px 0;
            width: 80%;
            position: relative;
            

            .title-wrap
            {
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;
                color: $secondaryBlackclr;

                .title  
                {
                    margin-top: 10px;

                }

                .btn
                {
                    justify-self: end;
                    button 
                    {
                        @include gridCenter();
                        grid-template-columns: auto auto;
                        grid-gap: 10px;

                    }
                }

            }
            .filter-field
            {
                background-color: $primaryWhiteClr;
                color: $thridBlackClr;
                width: 0%;
                white-space: nowrap;
                height: 21em;
                overflow-y: scroll;
                overflow-x: hidden;
                margin: 0 20px;
                position: absolute;
                top: 0%;
                left: 100%;
                box-shadow: 0 2px 10px rgba($color: #000000, $alpha: 0.15);
                transition: 0.3s ease-in-out;
                

                .search-field 
                {
                    position: sticky;
                    top: 0%;
                    z-index: 99;
                    box-shadow: 0 6px 10px -4px rgba($color: #000000, $alpha: 0.15);

                    // input 
                    // {
                    //     z-index: ;
                    // }
                    svg
                    {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translate(-50%,-50%);
                    }
                }
                .radio-field 
                {
                    padding: 20px;
                    
                    
                    .custom-radio
                    {
                        display: block;
                        position: relative;
                        padding-left: 35px;
                        margin-bottom: 12px;
                        cursor: pointer;
                        font-size: 18px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;

                        input 
                        {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                        }

                        .checkmark
                        {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 20px;
                            width: 20px;
                            background-color: $primaryWhiteClr;
                            border: 1px solid $thirdWhiteClr;
                            border-radius: 50%;
                        }
                        &:hover :hover input ~ .checkmark
                        {
                            background-color: #ccc;
                        }
                        input:checked ~ .checkmark 
                        {
                            background-color: $primaryWhiteClr;
                            border: 1px solid $thirdWhiteClr;
                        }
                        .checkmark:after 
                        {
                            content: "";
                            position: absolute;
                            transform: scale(0);
                            transition: 0.3s ease-in-out;
                        }
                        input:checked ~ .checkmark:after 
                        {
                            
                            transform: scale(1);
                        }
                        .checkmark:after 
                        {
                            top: 25%;
                            left: 25%;
                            
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: $primarySolidClr;
                        }
                    }
                    

                }
            }
            .filter-field.filter-active 
            {
                width: 30%;
            }

            hr.black-hr 
            {
                margin: 10px 0;
            }

            .card-wrap 
            {
                position: relative;
                transition: 0.3s ease-in-out;


                .card 
                {
                    display: grid;
                    grid-template-columns: 0.8fr 1fr 1fr;
                    grid-gap: 40px;
                    border-bottom: 2px solid $forthWhiteClr;
                    padding-top: 5px;

                    > *
                    {
                        padding: 20px 0;
                    }
                    .card-img 
                    {
                        img 
                        {
                            width: 100%;
                            height: auto;
                            
                        }
                    }
                    .card-detail
                    {
                        display: grid;

                        h2
                        {
                            color: $secondaryBlackclr;
                        }
                        .icon-text 
                        {
                            display: flex;
                            align-items: center;


                            .icon-wrap
                            {
                                display: flex;
                                align-items: center;
                                margin-right: 20px;

                                >*
                                {
                                    margin-right: 10px;
                                }
                            }
                            
                        }
                        .list-wrap
                        {
                            align-self: flex-end;
                            margin-left: 20px;
                        }
                    }
                    .card-rating
                    {
                        justify-self: flex-end;
                        display: grid;
                        justify-items: end;
                        padding-right: 10px;

                        .rating i
                        {
                            color: #FFB800;
                        }
                        .review-wrap
                        {
                            display: flex;
                            

                            >*
                            {
                                @include gridCenter();
                                padding: 0 20px;
                                margin: 25px 0;
                                color: $secondaryBlackclr;
                            }
                            .class, .hour
                            {
                                border-right: 0.5px solid $thirdWhiteClr;
                                
                            }
                            .learner
                            {
                                padding-right: 0;
                            }
                        }
                        .btn-wrap
                        {
                            display: grid;
                            grid-template-columns: auto auto;
                            grid-gap: 30px;

                            .fav-btn
                            {
                                align-self: center;
                                button
                                {
                                    height: 45px;
                                    padding: 10px;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
                .hover-content
                {
                    background-color: $primaryWhiteClr;
                    width: fit-content;
                    padding: 15px 30px;
                    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.15);
                    position: absolute;
                    top: 50%;
                    right: 0%;
                    transform: translate(0%, -50%);
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                    
                    > *
                    {
                        display: block;
                        margin: 10px;
                    }
                }
                &:hover 
                {
                    background-color: $secondaryWhiteClr;
                    transform: translateX(1.5%);
                }
                &:hover .hover-content
                {
                    transform: translate(105%, -50%);
                    opacity: 1;
                }
            }

            .collapsible 
            {
                margin: 20px auto;
                width: fit-content;
                padding: 10px 15px;
                background-color: $primarySolidClr;
                color: $primaryWhiteClr;
                font-family: "montserrat", sans-serif;
                font-size: 20px;
                font-weight: 700;
                border-radius: 4px;

                &:before 
                {
                    content: "Show More";
                }

            }
            .active:before
            {
                content: "Show Less";
            }

            .hidden-card
            {
                max-height: 0;
                overflow: hidden;
                // visibility: hidden;
                transition: 0.3s ease-in-out;
            }

        }

    }
    .tabcontent.active
    {
        display: block;
    }

    .catagories 
    {
        @include secondarySectionPadding();
        background-color: $forthWhiteClr;
        padding-bottom: 40px;

        .title 
        {
            width: fit-content;
            color: $secondaryBlackclr;
            margin-top: 15px;
            border-bottom: 3px solid $primarySolidClr;
        }
        .wrap 
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
            margin: 30px 0;

            .content 
            {
                cursor: pointer;
                
                .bg-img
                {
                    height: 200px;
                    background-image: url(/resources/img/pietro-jeng-n6B49lTx7NM-unsplash.jpg);
                    @include bgImg();
                    
                    transition: 0.3s ease-in-out;

                    .overlay
                    {
                        background-color: rgba($color: #000000, $alpha: 0.40);
                        height: 200px;
                        display: grid;
                        align-items: flex-end;
                        padding: 40px;
                        

                        h3 
                        {
                            color: $primaryWhiteClr;
                        }
                    }
                }
                &:hover .bg-img 
                {
                    transform: scale(1.05);
                    box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.25);
                }
            }
        }

    }
}