// header
// {
//     background-color: $primaryWhiteClr;
//     color: $primaryBlackClr;
//     .logo 
//     {
//         .logo-text
//         {

//         }
//     }
// }
* 
{
    transition: 0.3s ease-in-out;
}
section.hero
{
    
    .bg-img
    {
        @include secondarySectionPadding();
        width: 98.8vw;
        // @include bgImg();
        // height: 570px;
        // width: 100%;
        // background-image: url(/resources/img/hero-bgImg2.png);
        // background-position: center;
        

        .grid-wrapper
        {
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            justify-items: center;
            height: 63vh;
            width: 100%;

            
            .text-part
            {
                transform: translateY(-15%);
                // padding-right: 50px;
                > *
                {
                    margin: 15px 0;
                    color: $thridBlackClr;
                }
                h1
                {
                    
                    font-size: clamp(45px, 6vw, 65px);
                    letter-spacing: -0.03em;
                    line-height: 1.2em;
                    
                }
                h3
                {
                    padding-bottom: 15px;
                }
                .btn
                {
                    display: inline;
                    margin-right: 15px;
                    
                    button 
                    {
                        margin-top: 10px;
                        padding: 15px 40px;
                    }
                    // button.grad-border-btn
                    // {
                    //     @include gradBorderBtn(#000000, 2px 1000px 1px $primaryWhiteClr inset)
                    // }
                }
            }
            .img-part
            {
                align-self: center;
                width: 100%;
                 
                .swiper-container.hero-swiper
                {
                    width: 100%;
                    

                    .swiper-wrapper
                    {
                        
                        .swiper-slide 
                        {
                            padding: 50px;
                            .img
                            {
                                // padding: 50px;
                                // transform: translateY(30%);

                                img 
                                {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }

                    .swiper-button-next,
                    .swiper-button-prev,
                    .swiper-pagination
                    {
                        visibility: hidden;
                        opacity: 0;
                        transition: 0.3s ease;
                        color: $forthBlackClr;
                    }
                    .swiper-pagination-bullet-active
                    {
                        background-color: $forthBlackClr;
                    }

                    &:hover .swiper-button-next,
                    &:hover .swiper-button-prev,
                    &:hover .swiper-pagination
                    {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
        
        // .partner
        // {
        //     text-align: center;
        //     padding-top: 30px;

        //     h1 
        //     {
        //         margin-top: 20px;
        //         color: $primarySolidClr;
        //     }
        //     .company-logos
        //     {
        //         @include gridCenter();
        //         grid-template-columns: auto auto auto auto;
        //         padding-top: 10px;
        //         img
        //         {
        //             width: 100px;
        //             height: 100px;
        //         }
        //     }
        // }
    }
}

.cards-content
{
    .card-wrapper
        {
            @include secondarySectionPadding();
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 30px;
            justify-self: center;

            > div
            {
                @include gridCenter();
                align-items: flex-start;
                background: $primaryWhiteClr;
                margin: 0 10px;
                padding: 20px 40px;
                text-align: center;
                border-radius: 12px;
                border: 1px solid $thirdWhiteClr;
                box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: 0.40);
                transition: 0.3s ease-in-out;

                &:hover
                {
                    box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: 0.40);
                }

                > *
                {
                    margin: 5px 0;
                }
                small
                {
                    color: $thridBlackClr;
                }
                h5 
                {
                    color: $primarySolidClr;
                }
            }

            
        }
}

section.vision
{
    .bg-img
    {
        margin: 50px 0;
        @include secondarySectionPadding();
        padding-top: 30px;
        padding-bottom: 30px;
        // @include bgImg();
        // background: url(/resources/img/vision-bgImg.png);
        // background-position: center;
        background-color: #f8f8f8;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-gap: 50px;
        

        .text-part
        {
            // padding: 65px 40px 65px 0;

            >*
            {
                padding: 10px 0;
            }
            .title
            {
                padding-bottom: 6px;
                h3
                {
                    color: $secondaryBlackclr;
                    
                }
            }
            .text-content 
            {
                
                h5.regular
                {
                    line-height: 1.6em;
                    letter-spacing: 0.03em;
                    color: $forthBlackClr;
                }
            }
            .btn
            {
                button 
                {
                    border-color: #46C5D7;
                    color: #46C5D7;

                    &:hover 
                    {
                        background-color: #46C5D7;
                        color: $secondaryBlackclr;
                    }
                }
            }
            
        }
        .video-part
        {
            position: relative;
            // padding: 30px 20px;
            span.bg-border
            {
                z-index: 1;
                position: absolute;
                top: 0;
                right: 0;
                width: 338px;
                height: 270px;
                background-color: #46C5D7;
                
            }

            .video 
            {
                z-index: 9;
                padding-top: 30px;
                padding-right: 30px;
                position: relative;
                img 
                {
                    // height: 300px;
                    width: 100%;
                    
                }
            }
            
        }
    }
}

section.explore-course
{
    @include secondarySectionPadding();

    .title
    {
        h3 
        {
            color: $secondaryBlackclr;
            margin-bottom: 20px;
        }

    }
    .tab
    {
        display: flex;

        .tablink 
        {
            
            color: $thridBlackClr;
            padding-bottom: 0px;
            margin-right: 40px;
            transition: 0.3s ease-in-out;
            border-bottom: 3px solid transparent;
            cursor: pointer;

            &:hover
            {
                color: $primaryBlackClr;
            }
        }
        
        .tablink.active 
        {
            color: $primaryBlackClr;
            border-bottom: 3px solid;
            border-color: $primarySolidClr;
        }

    }

    .tabcontent
    {
        display: none;
        position: relative;

        .swiper-container
        {
            width: 100%;
            height: 100%;
            padding: 0 25px;
            position: relative;
            // overflow: visible;

            .card
            {

                // border: 1px solid black;
                box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.25);
                border-radius: 6px;
                position: relative;
                margin: 20px 0 50px 0;
                overflow-y: hidden;
                .img
                {
                    img
                    {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 6px 6px 0 0;
                    }
                    .img-ribbon
                    {
                        position: absolute;
                        top: 15px;
                        right: 20px;
                        padding: 5px 10px;
                        width: fit-content;
                        border-radius: 6px;
                        background: $primaryGradClr;
                        color: $primaryWhiteClr;
                    }
                }

                .description
                {
                    padding: 10px 30px;

                    > *
                    {
                        margin: 10px 0;
                    }
                    .title
                    {
                        color: $primarySolidClr;
                    }
                    .rating
                    {
                        i
                        {
                            color: #FFB800;
                        }
                    }
                    .instructor
                    {
                        margin-bottom: 25px;

                        h4
                        {
                            font-size: 16px;
                        }
                    }
                    .card-detail
                    {
                        display: grid;
                        grid-template-columns: auto auto auto;
                        align-items: center;
                        grid-gap: 10px;

                        
                        
                        .time, .watched
                        {
                            @include gridCenter();
                            grid-template-columns: auto auto;
                        }
                        
                    }
                }

                .card-hidden-area
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 20px 30px;
                    transform: translateY(100%);
                    opacity: 0;
                    border-radius: 6px;
                    background: $secondaryBlackclr;
                    color: $primaryWhiteClr;
                    transition: 0.3s;

                    > *
                    {
                        margin: 25px 10px;
                        
                    }
                    .italic-title
                    {
                        p 
                        {
                            font-style: italic;
                        }
                    }
                    ul 
                    {
                        li 
                        {
                            margin: 5px 20px;
                            
                        }
                    }
                    a 
                    {
                        margin: 0 !important;
                        padding: 0 !important;

                        button 
                        {
                            @include gradBorderBtn(#fff, 2px 100px 1px $secondaryBlackclr inset);
                            width: 100%;
                        }
                    }
                }
                &:hover .card-hidden-area
                {
                    transform: translateY(0%);
                    opacity: 1;

                }
            }
            .card-hidden-area.second-design
            {
                a 
                {
                    margin: 0;
                    padding: 0;

                    button 
                    {
                        border: 2px solid $primaryWhiteClr;
                        background: $secondaryBlackclr;
                        color: $primaryWhiteClr;
                    }
                }
            }
            
            .swiper-button-next
            {
                
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background: $primaryWhiteClr;
                transform: translateX(20%);
                
                
                &::after
                {
                    display: none;
                    
                }
                
            }
            .swiper-button-prev
            {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background: $primaryWhiteClr;
                transform: translateX(-20%);

                &::after
                {
                    display: none;
                }
            }

        }

        
    }
    .tabcontent.active
    {
        display: block;
    }
    .btn
    {
        text-align: center;
        margin: 30px 0;
    }
}

section.catagories
{
    @include secondarySectionPadding();

    .title
    {
        margin: 0px 0 20px;
        color: $secondaryBlackclr;
    }
    .card-wrapper
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 35px;

        .card 
        {
            text-align: center;
            padding: 25px 30px 15px;
            border-radius: 6px;
            box-shadow: 0 0px 4px rgba($color: #000000, $alpha: 0.25);
            cursor: pointer;
            transition: 0.3s;
            &:hover
            {
                box-shadow: 0 0px 10px rgba($color: #000000, $alpha: 0.25);
            }
            .text
            {
                margin-top: 10px;
            }
        }
    }
}

section.career
{
    background: $secondaryBlackclr;
    padding: 50px 0 30px;
    margin: 50px 0;
    .become-instructor
    {
        
        .bg-img
        {
            // height: 320px;
            // background: url(/resources/img/instructor-bg.png);
            @include secondarySectionPadding();
            padding-top: 20px;
            padding-bottom: 20px;
            background: $secondaryWhiteClr;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
            align-items: center;
            .img-part
            {
                
                height: 260px;
                width: clamp(250px, 40vw, 450px);
                img 
                {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    object-position: left;
                    transform: scaleX(-1) ;
                    
                }
            }
            .detail 
            {
                padding-right: 150px;
                // grid-area: content;

                >*
                {
                    margin: 20px 0;
                }
                h3
                {
                    color: $secondaryBlackclr;
                }
                h5
                {
                    // color: $thridBlackClr;
                    line-height: 1.6em;
                    letter-spacing: 0.03em;
                    // font-family: gothamRegular;
                }
            }
        }
    }
    .build-career
    {
        padding-top: 30px;
        color: $primaryWhiteClr;
        text-align: center;
        width: 70%;
        margin: 0 auto;

        > *
        {
            margin: 30px ;
        }
        p
        {
            line-height: 1.5em;
        }
    }
}

section.review
{
    @include secondarySectionPadding();

    .title
    {
        color: $secondaryBlackclr;
        padding-left: 25px;
    }

    .swiper-container
    {
        width: 100%;
        height: 100%;
        padding: 25px;

        .card 
        {
            padding: 30px 40px;
            border-radius: 6px;
            margin: 0px 0 30px 0;
            box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.25);

            .user
            {
                display: grid;
                grid-template-columns: 1fr 2.5fr;
                grid-template-rows: auto auto;
                grid-template-areas:  
                "img name"
                "img rating";
                align-items: center;

                img 
                {
                    grid-area: img;
                    height: 70px;
                    width: 70px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .user-name
                {
                    grid-area: name;
                }
                .rating
                {
                    grid-area: rating;
                    i
                    {
                        color: #FFB800;
                    }
                }
            }
            .review-text
            {
                p 
                {
                    font-size: 17px;
                    font-style: italic;
                    color: $thridBlackClr;
                }
            }
        }

        .swiper-button-next
            {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background: $primaryWhiteClr;
                transform: translate(20%, -35%);
                // background: chartreuse;
                &::after
                {
                    display: none;
                    
                }
                
            }
            .swiper-button-prev
            {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background: $primaryWhiteClr;
                transform: translate(-20%, -35%);

                &::after
                {
                    display: none;
                }
            }
    }
}

section.consultation
{

    @include secondarySectionPadding();
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    align-items: center;
    .title
    {
        
        
        h3
        {
            color: $secondaryBlackclr;
            margin-bottom: 20px;
           
        }
    }
    .form
    {
        padding-right: 200px;
        > *
        {
            margin: 15px 0;
        }
        label
        {
            
            color: $secondaryBlackclr;
            display: block;
            margin-bottom: 5px;
        }
        input,textarea
        {
            width: 100%;
        }

    }
    .img-part
    {
        img 
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width:1100px) and (min-width: 801px)
{
    
    .cards-content 
    {
        // display: none;
        .card-wrapper
        {
            grid-gap: 20px;

            .banner-card
            {
                margin: 0;
                padding: clamp(10px, 1vw, 20px) clamp(15px, 2.5vw, 30px);
            }
        }
    }
    section.vision 
    {
        .bg-img
        {
            padding-top: 30px;
            padding-bottom: 30px;

            .video-part
            {
                span.bg-border
                {
                    width: clamp(270px, 15vw, 330px);
                    height: clamp(180px, 13vw, 270px);
                }
            }
        }
    }
    section.catagories
    {
        .card-wrapper
        {
            grid-gap: clamp(15px, 2vw, 30px);
        }
    }
    section.career
    {
        padding-top: 30px;
        .become-instructor
        {
            .bg-img
            {
                grid-template-columns: 50% 50%;
                // .img-part
                // {
                //     img 
                //     {
                //         // transform: unset;
                //     }
                // }
                .detail 
                {
                    padding-right: clamp(100px, 15vw, 150px);
                    
                    > * 
                    {
                        margin: 10px;
                    }
                
                }
            }
        }
        .build-career
        {
            padding-top: 10px;

            >*
            {
                margin: 15px 30px;
            }
            > a
            {
                margin: 0;
            }
        }
    }
    
    section.review
    {
        .swiper-container
        {
            .card 
            {
                padding: clamp(15px, 2vw, 25px) clamp(20px, 2.5vw, 30px);
            
                .user 
                {
                    grid-gap: 5px;
                    img 
                    {
                        width: clamp(30px, 6vw, 50px);
                        height: clamp(30px, 6vw, 50px);
                    }
                }
            }
        }
    }

    section.consultation 
    {
        .text-part
        {
            .form
            {
                padding-right: clamp(80px, 15vw, 100px);
            }
        }
    }
}
@media screen and (max-width:900px) and (min-width: 801px)
{
    section.hero
    {
        .bg-img
        {
            .grid-wrapper
            {
                grid-template-columns: 100%;

                .text-part
                {
                    transform: unset;
                    
                }
                .img-part
                {
                    width: 100%;
                    .swiper-container
                    {
                        width: 100%;
                    }
                }
                
            }

            
        }
    }
    .cards-content
    {
        
        .card-wrapper
        {
            grid-template-columns: auto;
            margin: 20px auto;
            width: 60%;
            
        }
    }
    

    section.catagories
    {
        .card-wrapper
        {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .card 
            {
                padding: clamp(10px, 1.5vw, 20px) clamp(15px, 2vw, 25px) clamp(5px, 1vw, 10px);
            }
        }
    }

    section.career
    {
        padding-top: 30px;
        .become-instructor
        {
            .bg-img
            {
                .detail 
                {
                    padding-right: clamp(100px, 15vw, 150px);
                    
                    > * 
                    {
                        margin: 10px;
                    }
                
                }
            }
        }
        .build-career
        {
            padding-top: 10px;

            >*
            {
                margin: 15px 30px;
            }
            > a
            {
                margin: 0;
            }
        }
    }
}


@media screen and (max-width:800px) and (min-width: 501px)
{
    
    section.hero
    {
        .bg-img
        {
            .grid-wrapper
            {
                grid-template-columns: 100%;

                .text-part
                {
                    transform: unset;
                    align-self: center;
                }
                .img-part
                {
                    width: 100%;
                    padding: 0 clamp(40px, 9vw, 80px);

                    .swiper-container
                    {
                        width: 100%;
                    }
                }
                
            }

            
        }
    }
    .cards-content
    {
        
        .card-wrapper
        {
            grid-template-columns: auto;
            margin: 20px auto;
            width: 65%;
            
        }
    }
    section.vision 
    {
        .bg-img
        {
            padding-top: 30px;
            padding-bottom: 30px;

            .video-part
            {
                span.bg-border
                {
                    width: clamp(220px, 13vw, 330px);
                    height: clamp(120px, 10vw, 270px);
                }
            }
        }
    }
    

    section.vision 
    {
        margin: 30px 0;
        .bg-img
        {
            background-position: 65%;
            grid-gap: 20px;
            align-items: center;

            .text-part
            {
                padding: 0;
                >* 
                {
                    padding: 0;
                    margin: 10px;
                }
            }
            .video-part
            {
                padding: 0;
            }
        }
    }

    section.explore-course 
    {
        
        .tab 
        {
            .tablink 
            {
                margin-right: 20px !important;
            }
            
            .tablink[data-tab="design"],
            .tablink[data-tab="data-science"]
            {
                display: none;
            }
            
        }
        .swiper-container
        {
            .card 
            {
                .description
                {
                    padding: 10px 15px !important;

                    .card-detail
                    {
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas:  
                        "date date"
                        "hour view";
                        grid-gap: 5px;

                        .published
                        {
                            grid-area: date;
                        }
                        .time 
                        {
                            grid-area: hour;

                        }
                        .watched
                        {
                            grid-area: view;
                        }
                    }
                }
            }
        }
       
    }

    section.catagories
    {
        .card-wrapper
        {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: clamp(15px, 3vw, 25px);
            .card 
            {
                padding: clamp(10px, 1.5vw, 20px) clamp(10px, 2vw, 25px) clamp(5px, 1vw, 10px);
            }
        }
    }


    section.career
    {
        padding-top: 30px;
        .become-instructor
        {
            .bg-img
            {
                background-position: 40%;
                .detail 
                {
                    padding-right: clamp(30px, 8vw, 100px);
                    
                    > * 
                    {
                        margin: 10px;
                    }
                
                }
            }
        }
        .build-career
        {
            padding-top: 10px;

            >*
            {
                margin: 10px ;
            }
            > a
            {
                margin: 0;
            }
        }
    }
    section.consultation 
    {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        .text-part
        {
            .form
            {
                padding-right: clamp(20px, 4vw, 80px);
            }
        }
        .img-part
        {
            display: none;
        }
    }
}
@media screen and (max-width:600px) and (min-width: 501px)
{
    section.hero
    {
        .bg-img
        {
            .grid-wrapper
            {
                grid-template-columns: 100%;

                .text-part
                {
                    transform: unset;
                    align-self: center;
                }
                .img-part
                {
                    width: 100%;
                    padding: 0 clamp(40px, 9vw, 80px);

                    .swiper-container
                    {
                        width: 100%;
                    }
                }
                
            }

            
        }
    }
    .cards-content
    {
        
        .card-wrapper
        {
            grid-template-columns: auto;
            margin: 20px auto;
            width: 70%;
            
        }
    }

    section.vision 
    {
        .bg-img
        {
            grid-template-columns: 1fr;
            padding-top: 30px;
            padding-bottom: 30px;

            .video-part
            {
                span.bg-border
                {
                    width: clamp(250px, 50vw, 300px);
                    height: clamp(200px, 40vw, 250px);
                }
            }
        }
    }
    section.career
    {
        .become-instructor
        {
            .bg-img
            {
                .detail
                {
                    padding-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width:500px) and (min-width: 270px)
{
    section.offer 
    {
        display: none;
    }
    section.hero
    {
        .bg-img
        {
            .grid-wrapper
            {
                grid-template-columns: 100%;

                .text-part
                {
                    transform: unset;
                    align-self: center;
                }
                .img-part
                {
                    width: 100%;
                    padding: 0;

                    .swiper-container
                    {
                        width: 100%;
                    }
                }
                
            }

            
        }
    }

    .cards-content
    {
        
        .card-wrapper
        {
            grid-template-columns: auto;
            margin: 20px auto;
            width: 80%;
            
        }
    }

    section.vision 
    {
        .bg-img
        {
            grid-template-columns: 1fr;
            padding-top: 30px;
            padding-bottom: 30px;

            .video-part
            {
                span.bg-border
                {
                    width: clamp(200px, 50vw, 280px);
                    height: clamp(150px, 40vw, 220px);
                }
            }
        }
    }

    section.explore-course 
    {
        
        .tab 
        {
            .tablink 
            {
                margin-right: 20px !important;
            }
            .tablink[data-tab="engineering"],
            .tablink[data-tab="design"]
            {
                display: none;
            }
            // .responsive-hide
            // {
            //     display: none;
            // }
        }
       
    }

    section.catagories
    {
        .card-wrapper
        {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: clamp(15px, 3vw, 25px);
            .card 
            {
                padding: clamp(10px, 1.5vw, 20px) clamp(10px, 2vw, 15px) clamp(5px, 1vw, 10px);
            }
        }
    }

    section.career
    {
        padding-top: 30px;
        .become-instructor
        {
            .bg-img
            {
                background-position: 40%;
                grid-template-columns: 1fr;

                .img-part
                {
                    display: none;
                }
                .detail 
                {
                    padding-right: clamp(0px, 2vw, 100px);
                    
                    > * 
                    {
                        margin: 10px;
                    }
                
                }
            }
        }
        .build-career
        {
            padding-top: 10px;
            

            >*
            {
                margin: 10px 0;
            }
            > a
            {
                margin: 0;
            }
        }
    }
    section.consultation 
    {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        .text-part
        {
            .form
            {
                padding-right: clamp(20px, 4vw, 80px);
            }
        }
        .img-part
        {
            display: none;
        }
    }
    .query
    {
        display: none;
    }
}


@media screen and (max-width:400px) and (min-width: 270px)
{
    section.hero
    {
        .bg-img
        {
            .grid-wrapper
            {
                grid-template-columns: 100%;
                height: 68vh;

                .text-part
                {
                    transform: unset;
                    align-self: center;
                }
                .img-part
                {
                    width: 100%;
                    padding: 0;

                    .swiper-container
                    {
                        width: 100%;
                    }
                }
                
            }

            
        }
    }

    .cards-content
    {
        
        .card-wrapper
        {
            grid-template-columns: auto;
            margin: 20px auto;
            width: 85%;
            
            .banner-card
            {
                padding: 15px clamp(20px, 6vw, 25px);
            }
        }
    }
    section.vision 
    {
        .bg-img
        {
            grid-template-columns: 1fr;
            padding-top: 30px;
            padding-bottom: 30px;

            .video-part
            {
                span.bg-border
                {
                    width: clamp(200px, 50vw, 280px);
                    height: clamp(150px, 40vw, 220px);
                }
            }
        }
    }


    section.explore-course 
    {
        
        .tab 
        {
            .tablink 
            {
                margin-right: 20px !important;
            }
            .tablink[data-tab="engineering"],
            .tablink[data-tab="design"],
            .tablink[data-tab="data-science"]
            {
                display: none;
            }
            
        }
        .swiper-container
        {
            .card 
            {
                .description
                {
                    padding: 10px 15px !important;

                    .card-detail
                    {
                        grid-gap: 5px;
                    }
                }
            }
        }
       
    }
    section.catagories
    {
        .card-wrapper
        {
            grid-template-columns: 1fr 1fr ;
            grid-gap: clamp(15px, 3vw, 25px);
            .card 
            {
                padding: clamp(10px, 1.5vw, 20px) clamp(10px, 2vw, 15px) clamp(5px, 1vw, 10px);
            }
        }
    }
    section.career
    {
        padding-top: 30px;
        .become-instructor
        {
            .bg-img
            {
                background-position: 40%;
                .detail 
                {
                    padding-right: clamp(0px, 2vw, 100px);
                    
                    > * 
                    {
                        margin: 10px;
                    }
                
                }
            }
        }
        .build-career
        {
            padding: 20px;
            width: unset;

            >*
            {
                margin: 0;
            }
            > a
            {
                margin: 0;
            }
        }
    }
    section.review 
    {
        .swiper-container
        {
            .swiper-slide
            {
                .card
                {
                    padding: 15px clamp(15px, 6vw,25px);
                
                    .user
                    {
                        grid-gap: 10px;
                    }
                }
            }
        }
    }
}
