section.hero
{
    
    .bg-img
    {
        @include secondarySectionPadding();
        @include bgImg();
        height: 63.5em;
        background-image: url(/resources/img/hero-bgImg2.png);
        background-position: center;
        

        .grid-wrapper
        {
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            justify-items: center;
            height: 35em;

            
            .text-part
            {
                transform: translateY(-20%);
                
                > *
                {
                    margin: 15px 0;
                }
                h1
                {
                    // letter-spacing: -0.03em;
                    font-size: 45px;
                }
                h3
                {
                    padding-bottom: 15px;
                }
                .btn
                {
                    display: inline;
                    margin-right: 15px;
                    
                    button 
                    {
                        margin-top: 10px;
                    }
                    button.grad-border-btn
                    {
                        @include gradBorderBtn(#000000, 2px 1000px 1px $primaryWhiteClr inset)
                    }
                }
            }
            .img-part
            {
                align-self: start;
                 
                .img
                {
                    // padding: 50px;
                    transform: translateY(20%);

                    img 
                    {
                        width: 400px;
                        height: 100%;
                    }
                }
            }
        }
        .card-wrapper
        {
            
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 30px;
            justify-self: center;

            > div
            {
                @include gridCenter();
                align-items: flex-start;
                background: $primaryWhiteClr;
                margin: 0 10px;
                padding: 20px 40px;
                text-align: center;
                border-radius: 12px;
                border: 1px solid;
                border-width: 3px 1px 1px 1px;
                // border-color: black;
                // box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.25);

                > *
                {
                    margin: 5px 0;
                }
                small
                {
                    color: $thridBlackClr;
                }
            }

            .card-one
            {
                border-color: #CC2B5E;

                h5
                {
                    color: #CC2B5E;
                }
            }
            .card-two
            {
                border-color: #F04F3E;

                h5 
                {
                    color: #F04F3E;
                }
            }
            .card-three
            {
                border-color: rgba($color: #f48200, $alpha: 0.8);

                h5 
                {
                    color: rgba($color: #f48200, $alpha: 0.8);
                }
            }
        }
        .partner
        {
            text-align: center;
            padding-top: 30px;

            h1 
            {
                margin-top: 20px;
                color: $secondarySolidClr;
            }
            .company-logos
            {
                @include gridCenter();
                grid-template-columns: auto auto auto auto;
                padding-top: 10px;
                img
                {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}

section.vision
{
    .bg-img
    {
        @include secondarySectionPadding();
        @include bgImg();
        background: url(/resources/img/vision-bgImg.png);
        background-position: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        grid-gap: 50px;

        .text-part
        {
            padding: 65px 40px 65px 0;

            >*
            {
                padding: 10px 0;
            }
            h3
            {
                color: $secondarySolidClr;
            }
            
        }
        .video-part
        {
            padding: 50px 20px;

            img 
            {
                width: 100%;
            }
            
        }
    }
}

section.explore-course
{
    @include secondarySectionPadding();

    .title
    {
        h3 
        {
            color: $secondarySolidClr;
            margin-bottom: 20px;
        }

    }
    .tab
    {
        display: flex;

        .tablink 
        {
            
            color: $thridBlackClr;
            padding-bottom: 0px;
            margin-right: 40px;
            transition: 0.3s ease-in-out;
            border-bottom: 3px solid transparent;
            cursor: pointer;

            &:hover
            {
                color: $primaryBlackClr;
            }
        }
        
        .tablink.active 
        {
            color: $primaryBlackClr;
            border-bottom: 3px solid;
            border-color: $primarySolidClr;
        }

    }

    .tabcontent
    {
        display: none;
        position: relative;

        .swiper-container
        {
            width: 100%;
            height: 100%;
            padding: 0 25px;
            position: relative;
            // overflow: visible;

            .card
            {

                // border: 1px solid black;
                box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.25);
                border-radius: 6px;
                position: relative;
                margin: 20px 0 50px 0;
                overflow-y: hidden;
                .img
                {
                    img
                    {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 6px 6px 0 0;
                    }
                    .img-ribbon
                    {
                        position: absolute;
                        top: 15px;
                        right: 20px;
                        padding: 5px 10px;
                        width: fit-content;
                        border-radius: 6px;
                        background: $primaryGradClr;
                        color: $primaryWhiteClr;
                    }
                }

                .description
                {
                    padding: 10px 30px;

                    > *
                    {
                        margin: 10px 0;
                    }
                    .title
                    {
                        color: $secondarySolidClr;
                    }
                    .rating
                    {
                        i
                        {
                            color: #FFB800;
                        }
                    }
                    .instructor
                    {
                        margin-bottom: 25px;

                        h4
                        {
                            font-size: 16px;
                        }
                    }
                    .card-detail
                    {
                        display: grid;
                        grid-template-columns: auto auto auto;
                        align-items: center;
                        grid-gap: 10px;

                        
                        
                        .time, .watched
                        {
                            @include gridCenter();
                            grid-template-columns: auto auto;
                        }
                        
                    }
                }

                .card-hidden-area
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 20px 30px;
                    transform: translateY(100%);
                    opacity: 0;
                    border-radius: 6px;
                    background: $secondaryBlackclr;
                    color: $primaryWhiteClr;
                    transition: 0.3s;

                    > *
                    {
                        margin: 25px 10px;
                        
                    }
                    .italic-title
                    {
                        p 
                        {
                            font-style: italic;
                        }
                    }
                    ul 
                    {
                        li 
                        {
                            margin: 5px 20px;
                            
                        }
                    }
                    a 
                    {
                        margin: 0 !important;
                        padding: 0 !important;

                        button 
                        {
                            @include gradBorderBtn(#fff, 2px 100px 1px $secondaryBlackclr inset);
                            width: 100%;
                        }
                    }
                }
                &:hover .card-hidden-area
                {
                    transform: translateY(0%);
                    opacity: 1;

                }
            }
            .card-hidden-area.second-design
            {
                a 
                {
                    margin: 0;
                    padding: 0;

                    button 
                    {
                        border: 2px solid $primaryWhiteClr;
                        background: $secondaryBlackclr;
                        color: $primaryWhiteClr;
                    }
                }
            }
            
            .swiper-button-next
            {
                
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background: $primaryWhiteClr;
                transform: translateX(20%);
                
                
                &::after
                {
                    display: none;
                    
                }
                
            }
            .swiper-button-prev
            {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background: $primaryWhiteClr;
                transform: translateX(-20%);

                &::after
                {
                    display: none;
                }
            }

        }

        
    }
    .tabcontent.active
    {
        display: block;
    }
    .btn
    {
        text-align: center;
        margin: 30px 0;
    }
}

section.catagories
{
    @include secondarySectionPadding();

    .title
    {
        margin: 0px 0 20px;
        color: $secondarySolidClr;
    }
    .card-wrapper
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 35px;

        .card 
        {
            text-align: center;
            padding: 25px 30px 15px;
            border-radius: 6px;
            box-shadow: 0 0px 4px rgba($color: #000000, $alpha: 0.25);
            cursor: pointer;
            transition: 0.3s;
            &:hover
            {
                box-shadow: 0 0px 10px rgba($color: #000000, $alpha: 0.25);
            }
            .text
            {
                margin-top: 10px;
            }
        }
    }
}

section.career
{
    background: $secondaryBlackclr;
    padding: 50px 0 30px;
    margin: 50px 0;
    .become-instructor
    {
        
        .bg-img
        {
            height: 320px;
            background: url(/resources/img/instructor-bg.png);
            @include bgImg();
            background-position: bottom;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas:  
            ". content";
            align-items: center;

            .detail 
            {
                padding-right: 200px;
                grid-area: content;

                >*
                {
                    margin: 20px 0;
                }
                h3
                {
                    color: $secondarySolidClr;
                }
                p
                {
                    color: $thridBlackClr;
                    // font-family: gothamRegular;
                }
            }
        }
    }
    .build-career
    {
        padding-top: 30px;
        color: $primaryWhiteClr;
        text-align: center;
        width: 50%;
        margin: 0 auto;

        > *
        {
            margin: 30px ;
        }
        p
        {
            line-height: 1.5em;
        }
    }
}

section.review
{
    @include secondarySectionPadding();

    .title
    {
        color: $secondarySolidClr;
    }

    .swiper-container
    {
        width: 100%;
        height: 100%;
        padding: 25px;

        .card 
        {
            padding: 30px 40px;
            border-radius: 6px;
            margin: 0px 0 30px 0;
            box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.25);

            .user
            {
                display: grid;
                grid-template-columns: 1fr 2.5fr;
                grid-template-rows: auto auto;
                grid-template-areas:  
                "img name"
                "img rating";
                align-items: center;

                img 
                {
                    grid-area: img;
                    height: 70px;
                    width: 70px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .user-name
                {
                    grid-area: name;
                }
                .rating
                {
                    grid-area: rating;
                    i
                    {
                        color: #FFB800;
                    }
                }
            }
            .review-text
            {
                p 
                {
                    font-size: 17px;
                    font-style: italic;
                    color: $thridBlackClr;
                }
            }
        }

        .swiper-button-next
            {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background: $primaryWhiteClr;
                transform: translate(20%, -35%);
                // background: chartreuse;
                &::after
                {
                    display: none;
                    
                }
                
            }
            .swiper-button-prev
            {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background: $primaryWhiteClr;
                transform: translate(-20%, -35%);

                &::after
                {
                    display: none;
                }
            }
    }
}

section.consultation
{

    @include secondarySectionPadding();
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    align-items: center;
    .title
    {
        
        
        h3
        {
            color: $secondarySolidClr;
            margin-bottom: 20px;
           
        }
    }
    .form
    {
        padding-right: 200px;
        > *
        {
            margin: 15px 0;
        }
        label
        {
            
            color: $secondaryBlackclr;
            display: block;
            margin-bottom: 5px;
        }
        input,textarea
        {
            width: 100%;
        }

    }
    .img-part
    {
        img 
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width:1100px) and (min-width: 801px)
{
    section.hero
    {
        .bg-img
        {
            .grid-wrapper
            {
                grid-template-columns: 55% 45%;
            }

            .card-wrapper
            {
                grid-gap: 20px;

                > div
                {
                    margin: 0;
                    padding: clamp(10px, 1vw, 20px) clamp(15px, 2.5vw, 30px);
                }
            }
        }
    }

    section.catagories
    {
        .card-wrapper
        {
            grid-gap: clamp(15px, 2vw, 30px);
        }
    }
    section.career
    {
        padding-top: 30px;
        .become-instructor
        {
            .bg-img
            {
                .detail 
                {
                    padding-right: clamp(100px, 15vw, 150px);
                    
                    > * 
                    {
                        margin: 10px;
                    }
                
                }
            }
        }
        .build-career
        {
            padding-top: 10px;

            >*
            {
                margin: 15px 30px;
            }
            > a
            {
                margin: 0;
            }
        }
    }
    
    section.review
    {
        .swiper-container
        {
            .card 
            {
                padding: clamp(15px, 2vw, 25px) clamp(20px, 2.5vw, 30px);
            
                .user 
                {
                    grid-gap: 5px;
                    img 
                    {
                        width: clamp(30px, 6vw, 50px);
                        height: clamp(30px, 6vw, 50px);
                    }
                }
            }
        }
    }

    section.consultation 
    {
        .text-part
        {
            .form
            {
                padding-right: clamp(80px, 15vw, 100px);
            }
        }
    }
}
@media screen and (max-width:900px) and (min-width: 801px)
{
    section.hero
    {
        .bg-img
        {
            .grid-wrapper
            {
                grid-template-columns: 70% 30%;
                .img-part
                {
                    .img
                    {
                        display: none;
                    }
                }
            }

            
        }
    }


    section.catagories
    {
        .card-wrapper
        {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .card 
            {
                padding: clamp(10px, 1.5vw, 20px) clamp(15px, 2vw, 25px) clamp(5px, 1vw, 10px);
            }
        }
    }

    section.career
    {
        padding-top: 30px;
        .become-instructor
        {
            .bg-img
            {
                .detail 
                {
                    padding-right: clamp(100px, 15vw, 150px);
                    
                    > * 
                    {
                        margin: 10px;
                    }
                
                }
            }
        }
        .build-career
        {
            padding-top: 10px;

            >*
            {
                margin: 15px 30px;
            }
            > a
            {
                margin: 0;
            }
        }
    }
}


@media screen and (max-width:800px) and (min-width: 501px)
{
    
    section.hero
    {
        .bg-img
        {
            .grid-wrapper
            {
                grid-template-columns: 70% 30%;
                .img-part
                {
                    .img
                    {
                        display: none;
                    }
                }
            }

            .card-wrapper
            {
                grid-gap: clamp(10px, 1vw, 20px);

                > div
                {
                    margin: 0;
                    padding: clamp(10px, 1vw, 20px) ;
                }
                // .card-three
                // {
                //     display: none;
                // }
            }
        }
    }

    section.vision 
    {
        margin: 30px 0;
        .bg-img
        {
            background-position: 65%;
            grid-gap: 20px;
            align-items: center;

            .text-part
            {
                padding: 0;
                >* 
                {
                    padding: 0;
                    margin: 10px;
                }
            }
            .video-part
            {
                padding: 0;
            }
        }
    }

    section.catagories
    {
        .card-wrapper
        {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: clamp(15px, 3vw, 25px);
            .card 
            {
                padding: clamp(10px, 1.5vw, 20px) clamp(10px, 2vw, 25px) clamp(5px, 1vw, 10px);
            }
        }
    }

    section.career
    {
        padding-top: 30px;
        .become-instructor
        {
            .bg-img
            {
                background-position: 40%;
                .detail 
                {
                    padding-right: clamp(30px, 8vw, 100px);
                    
                    > * 
                    {
                        margin: 10px;
                    }
                
                }
            }
        }
        .build-career
        {
            padding-top: 10px;

            >*
            {
                margin: 10px ;
            }
            > a
            {
                margin: 0;
            }
        }
    }
    section.consultation 
    {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        .text-part
        {
            .form
            {
                padding-right: clamp(20px, 4vw, 80px);
            }
        }
        .img-part
        {
            display: none;
        }
    }
}
@media screen and (max-width:600px) and (min-width: 501px)
{
    section.hero
    {
        .bg-img
        {
            .card-wrapper
            {
                .card-three
                {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width:500px) and (min-width: 270px)
{
    section.hero
    {
        .bg-img
        {
            .grid-wrapper
            {
                grid-template-columns: 70% 30%;
                .img-part
                {
                    .img
                    {
                        display: none;
                    }
                }
            }

            .card-wrapper
            {
                grid-gap: clamp(10px, 1vw, 20px);

                > div
                {
                    margin: 0;
                    padding: clamp(10px, 1vw, 20px) ;
                }
                .card-three
                {
                    display: none;
                }
            }

            .partner
            {
                .company-logos
                {
                    width: 100%;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 20px;
                    img 
                    {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    section.vision 
    {
        margin: 30px 0;
        .bg-img
        {
            background-position: 65%;
            grid-gap: 20px;
            align-items: center;

            .text-part
            {
                padding: 0;
                >* 
                {
                    padding: 0;
                    margin: 10px;
                }
            }
            .video-part
            {
                padding: 0;
            }
        }
    }

    section.explore-course 
    {
        
        .tab 
        {
            .tablink 
            {
                margin-right: 20px !important;
            }
            .tablink[data-tab="engineering"],
            .tablink[data-tab="design"]
            {
                display: none;
            }
            // .responsive-hide
            // {
            //     display: none;
            // }
        }
       
    }

    section.catagories
    {
        .card-wrapper
        {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: clamp(15px, 3vw, 25px);
            .card 
            {
                padding: clamp(10px, 1.5vw, 20px) clamp(10px, 2vw, 15px) clamp(5px, 1vw, 10px);
            }
        }
    }

    section.career
    {
        padding-top: 30px;
        .become-instructor
        {
            .bg-img
            {
                background-position: 40%;
                .detail 
                {
                    padding-right: clamp(0px, 2vw, 100px);
                    
                    > * 
                    {
                        margin: 10px;
                    }
                
                }
            }
        }
        .build-career
        {
            padding-top: 10px;
            

            >*
            {
                margin: 10px 0;
            }
            > a
            {
                margin: 0;
            }
        }
    }
    section.consultation 
    {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        .text-part
        {
            .form
            {
                padding-right: clamp(20px, 4vw, 80px);
            }
        }
        .img-part
        {
            display: none;
        }
    }
    .query
    {
        display: none;
    }
}


@media screen and (max-width:400px) and (min-width: 270px)
{
    section.hero
    {
        .bg-img
        {
            .grid-wrapper
            {
                grid-template-columns: 70% 30%;
                .img-part
                {
                    .img
                    {
                        display: none;
                    }
                }
                .logo-text 
                {
                    font-weight: 500;
                }
            }

            .card-wrapper
            {
                grid-gap: clamp(10px, 1vw, 20px);

                > div
                {
                    margin: 0;
                    padding: clamp(10px, 1vw, 20px) ;
                }
                .card-three, .card-two
                {
                    display: none;
                }
            }

            .partner
            {
                .company-logos
                {
                    width: 100%;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 20px;
                    img 
                    {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    section.vision 
    {
        margin: 30px 0;
        .bg-img
        {
            background-position: 65%;
            grid-template-columns: 1fr;
            grid-gap: 20px;
            align-items: center;

            .text-part
            {
                padding: 0 clamp(15px, 3vw, 40px);
                >* 
                {
                    padding: 0;
                    margin: 10px;
                }
            }
            .video-part
            {
                padding: 0 clamp(15px, 3vw, 40px);
            }
        }
    }

    section.explore-course 
    {
        
        .tab 
        {
            .tablink 
            {
                margin-right: 20px !important;
            }
            .tablink[data-tab="engineering"],
            .tablink[data-tab="design"],
            .tablink[data-tab="data-science"]
            {
                display: none;
            }
            // .responsive-hide
            // {
            //     display: none;
            // }
        }
       
    }
    section.catagories
    {
        .card-wrapper
        {
            grid-template-columns: 1fr 1fr ;
            grid-gap: clamp(15px, 3vw, 25px);
            .card 
            {
                padding: clamp(10px, 1.5vw, 20px) clamp(10px, 2vw, 15px) clamp(5px, 1vw, 10px);
            }
        }
    }
    section.career
    {
        padding-top: 30px;
        .become-instructor
        {
            .bg-img
            {
                background-position: 40%;
                .detail 
                {
                    padding-right: clamp(0px, 2vw, 100px);
                    
                    > * 
                    {
                        margin: 10px;
                    }
                
                }
            }
        }
        .build-career
        {
            padding-top: 10px;
            

            >*
            {
                margin: 0;
            }
            > a
            {
                margin: 0;
            }
        }
    }
}
