header
{
    background: $secondaryWhiteClr;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.40);

    a
    {
        color: $primaryBlackClr;
    }
    .search-bar
    {
        input
        {
            border-color: $thirdWhiteClr;
        }
        button 
        {
            align-self: center;
            
        }
    }
    .nav-menu
    {
        button
        {
            @include gradBorderBtn($primaryBlackClr, 2px 1000px 1px $secondaryWhiteClr inset)
        } 
    }
}
.container
{
    // button 
    // {
    //     background: $soli;

    //     &:hover 
    //     {
    //         background-color: #ffd82b;
    //     }
    // }

    .grid-wrapper
    {
        display: grid;
        

        .form-part
        {
            width: 35%;
            margin: 70px 0;
            justify-self: center;
            // padding: 20px 50px;
            border-radius: 6px;
            box-shadow: 0px 0 2px rgba($color: #000000, $alpha: 0.30);

            >*
            {
                padding-top: 20px;
            }
            .title-wrap, .using-social-media
            {
                text-align: center;
                
                h2.bold 
                {
                    font-family: "montserrat", sans-serif;
                    margin-bottom: 10px;
                    color: $secondaryBlackclr;
                }
                h4
                {
                    color: $secondaryBlackclr;
                }
                
                
            }
            .title-wrap
            {
                background: $primaryWhiteClr;
                border-radius: 6px 6px 0 0;
                color: $primaryWhiteClr;
                padding: 30px 40px;
                
            }
            form 
            {
                background-color: $secondaryWhiteClr;   
                padding: 30px 50px;
                box-shadow: 0 3px 4px -4px rgba($color: #000000, $alpha: 0.25) inset;

                input, button 
                {
                    width: 100%;
                }
                label 
                {
                    color: $secondaryBlackclr;
                }
                .number-input-wrap
                {
                    display: grid;
                    grid-template-columns: 70px auto;
                    grid-template-areas: 
                    "btn input"
                    "countryCode countryCode";
                    border-radius: 6px;
                    border: 1px solid $thirdWhiteClr;
                    box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.00);
                    transition: 0.3s ease-in-out;

                    &:hover,
                    & ~ input:focus
                    {
                        box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.20);
                    }

                    .country-content
                    {
                        grid-area: btn;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px 0 0 6px;
                        border-right: 1px solid $thirdWhiteClr;
                        background-color: $primaryWhiteClr;
                        outline: none;
                        padding: 10px 0;

                        h4 
                        {
                            margin-right: 5px;
                        }
                    }
                    input[type="number"]
                    {
                        margin: unset;
                        width: 100%;
                        padding: 10px 16px 10px 16px;
                        border-radius: 0 5px 5px 0;

                        
                    }
                    .input-wrap 
                    {
                        grid-area: input;
                        display: grid;
                        grid-template-columns: auto auto;
                        border-radius: 0 6px 6px 0;
                        

                        .input-text 
                        {
                            @include gridCenter();
                            background-color: white;
                            color: black;
                            height: 100%;
                            padding: 10px 12px;
                            text-align: center;
                            border-right: 1px solid $thirdWhiteClr;
                            
                            
                        }
                    }
                    .country-code-container
                    {
                        grid-area: countryCode;
                        position: relative;
                        color: black;
                        display: none;
                        

                        .country-number-code
                        {
                            
                            background-color: white;
                            position: absolute;
                            /* display: none; */
                            /* width:21.8vw; */
                            width: 100%;
                            padding: 8px;
                            border-radius: 4px;
                            box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.25);
                            margin-top: 5px;
                            
                            /* overflow: hidden;
                            
                            overflow-y: scroll;
                            overflow: hidden;
                            overflow-x: hidden; */

                            .searchbar-container
                            {
                                width: 100%;

                                .search-bar 
                                {
                                    i 
                                    {
                                        position: absolute;
                                        font-size: 20px;
                                        padding: 14px;
                                        font-weight: 400;
                                        pointer-events: none;
                                    }
                                    input 
                                    {
                                        width: 100%;
                                        margin: unset;
                                        box-shadow: unset;
                                        border-radius: 6px;
                                        padding-left: 45px;
                                        background-color: $secondaryWhiteClr;
                                        box-shadow: 0 0 1px rgba($color: #000000, $alpha: 0.25) inset;
                                    }
                                    
                                }
                            }

                            .country-list 
                            {
                                height: 120px;
                                overflow-y: scroll;
                                overflow-x: hidden;

                                ul 
                                {
                                    padding: 8px 5px;
                                    list-style-type: none;
                                }
                                li 
                                {
                                    padding: 8px 0px;
                                }
                            }
                        }
                    }
                    .toggle-country-code
                    {
                        display: block;
                    }

                }
                .password-field
                {
                    display: flex;
                    grid-gap: 15px;
                }
                .checkbox-field
                {
                    display: flex;
                    grid-gap: 10px;

                    
                    label.checkbox-container
                    {
                        font-size: 14px;

                        
                        a 
                        {
                            font-family: gothamMedium;
                            font-size: 14px;
                            color: $primaryBlackClr;
                            transition: 0.2s ease-in-out;

                            &:hover
                            {
                                color: $thridBlackClr;
                                opacity: 0.8;
                            }
                        }


                    }
                    

                }
                > *
                {
                    margin-bottom: 15px;
                }
            }
            .using-social-media
            {
                padding-top: 0px;
                background-color: $secondaryWhiteClr;
                .social-logo
                {
                    img
                    {
                        padding: 15px;
                        transition: 0.3s ease-in-out;

                        &:hover
                        {
                            transform: scale(1.2);
                        }
                    }
                }
            }
            .goto
            {
                display: flex;
                justify-content: center;
                padding-bottom: 30px;
                background-color: $secondaryWhiteClr;

                h4 
                {
                    margin-right: 10px;
                }
                a 
                {
                    color: $secondaryBlackclr;
                    transition: 0.2s ease-in-out;

                    &:hover 
                    {
                        opacity: 0.8;
                    }
                }
            }
        }
        // .description-part
        // {
        //     background-color: $secondaryWhiteClr;
        //     height: 100%;
        //     align-self: flex-start;
        //     text-align: center;
        //     padding: 100px;
        //     z-index: -1;
        //     .title-wrap
        //     {
        //         margin-bottom: 5em;

        //         h1 
        //         {
        //             font-family: "montserrat", sans-serif;
        //             margin-bottom: 15px;
        //             color: $thridBlackClr;
        //         }
        //         h4 
        //         {
        //             color: $thridBlackClr;
        //         }

        //     }
        //     .goto
        //     {
        //         h4.regular-small
        //         {
        //             margin-bottom: 20px;
        //         }
        //     }
        // }
    }
}

.signin-container
{
    .grid-wrapper
    {
        // grid-template-columns: 60% 40%;

        .form-part
        {
            // box-shadow: -2px 0 4px rgba($color: #000000, $alpha: 0.30);

            .forget-pass
            {
                background-color: $secondaryWhiteClr;
                text-align: center;
                padding: 0 0 15px 0;
                
                p 
                {
                    width: fit-content;
                    margin: 0 auto;
                }
            }
        }
    }
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: $primaryWhiteClr;
    border: 1px solid $thridBlackClr;
    border-radius: 3px;
    transition: 0.3s;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: $primarySolidClr;
    border: 1px solid $primarySolidClr;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
    
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 4px;
    top: -1px;
    width: 4px;
    height: 8px;
    border: solid $primaryWhiteClr;
    /* border-radius: 3px; */
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}