
.subheader 
{
    @include dashboardsubhead();
    padding: 5px 30px;
    
}

.container
{
    .grid-content
    {
        width: 100vw;
        // display: grid;
        // grid-template-columns: auto auto; 
        display: grid;
        grid-template-columns: min-content 1fr; 
        
        .side-nav
        {
            width: 300px;
            white-space: nowrap;
            border-right: 1px solid $thirdWhiteClr;
            transition: 0.3s ease;
            height: 100vh;
            z-index: 999;

            .nav-head
            {
                padding: 15px 30px;
                box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.2) inset;
                
                .wrap 
                {
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    .nav-btn
                    {
                        margin-right: 10px;
                        .bar-1,
                        .bar-2,
                        .bar-3
                        {
                            width: 25px;
                            height: 2px;
                            background-color: $secondaryBlackclr;
                            margin: 5px 0;
                            transition: 0.3s;
                            border-radius: 50px;
                        }
                        .bar-1
                        {
                            transform: rotate(-45deg) translateX(-5px) translateY(5px);
                        }
                        .bar-2
                        {
                            transform: scale(0);
                        }
                        .bar-3
                        {
                            transform: rotate(45deg) translateX(-5px) translateY(-5px);
                        }
                        // &:hover .bar-1
                        // {
                        //     transform: rotate(-45deg) translateX(-6px) translateY(5px);
                        // }
                        // &:hover .bar-3
                        // {
                        //     transform: rotate(45deg) translateX(-6px) translateY(-5px);
                        // }
                        // &:hover .bar-2
                        // {
                        //     transform: scale(0);
                        // }
                    }
                    .nav-btn.change 
                    {
                        .bar-1
                        {
                            transform: unset;
                        }
                        .bar-2
                        {
                            transform: scale(1);
                        }
                        .bar-3
                        {
                            transform: rotate(0) translateX(0) translateY(0);
                        }
                    }
                }
            }

            .collapsible-wrap
            {
                .collapsible
                {
                    padding: 15px 30px;
                    background: $forthWhiteClr;
                    
                    h5 
                    {
                        @include gridCenter();
                        grid-template-columns: 30px auto auto;
                        justify-items: baseline;

                        i.fa-play-circle
                        {
                            color: $secondarySolidClr;
                            font-size: 24px;
                        }
                        i.fa-angle-down
                        {
                            justify-self: end;
                            font-weight: 400;
                            
                        }
                    }
                }
                .collapsible-content 
                {
                    max-height: 500px;
                    overflow: hidden;
                    transition: 0.3s ease-in-out;
                    height: 500px;
                    overflow-y: scroll;
                     
                    
                        .lecture-title
                        {
                            
                            margin-left: 25px;
                            list-style-type: none;
                            
                            a
                            {
                                position: relative;
                                padding: 20px 10px;
                                display: flex;
                                align-items: center;

                                i 
                                {
                                    font-size: 18px;
                                    margin-right: 10px;
                                    color: $secondaryBlackclr;
                                }
                                i.fas.fa-circle
                                {

                                    font-size: 12px;
                                    color: $primarySolidClr;
                                    z-index: 15;
                                }
                                .line 
                                {
                                    position: absolute;
                                    top: 50%;
                                    left: 15px;
                                    width: 2px;
                                    height: 55px;
                                    background-color: $primarySolidClr;
                                    z-index: -100;
                                }
                                .line.last
                                {
                                    top: -50%;
                                    // display: none;
                                }
                                p 
                                {
                                    overflow: hidden;
                                    display: flex;
                                    align-items: center;
                                    margin-left: 10px;
                                }
                            }
                            &:hover p,
                            &:hover i.fas.fa-circle,
                            &:hover i
                            {
                                color: $secondarySolidClr;
                            }
                            .active-video
                            {
                                .line, i, p, i.fas.fa-circle
                                {
                                    color: $secondarySolidClr !important;
                                } 


                            }
                        }
                    
                }
            }

            .library
            {
                padding: 15px 30px;
                display: flex;
                align-items: center;

                i 
                {
                    font-size: 18px;
                    color: $secondarySolidClr;
                    margin-right: 10px;
                }
                p 
                {
                    overflow: hidden;
                }
            }
        }
        .side-nav.shrink
        {
            width: 90px;
            
            .hidden-part
            {
                visibility: hidden;
            }
            .collapsible.hidden-part
            {
                display: none;
            }
        }

        .tabcontent-wrap
        {
            width: 100%;
            .tabcontent
            {
                width: 100%;
                // display: none;
                .content-title
                {
                    display: grid;
                    grid-template-columns: auto auto;
                    padding: 15px 40px;
                    background: $secondaryWhiteClr;
                    box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.2)inset;

                    .title
                    {
                        display: flex; 
                        align-items: center;
                        
                        > * 
                        {
                            margin: 0 10px;
                        }
                        i 
                        {
                            font-weight: 500;
                            margin-left: 5px;
                        }
                        .self-pace
                        {
                            color: $secondarySolidClr;
                        }
                    }
                    .icons
                    {
                        justify-self: end;
                        display: flex;
                        align-items: center;
                        > *
                        {
                            margin: 0 15px;
                        }
                        img 
                        {
                            width: 20px;
                            height: 20px;
                        }
                        i 
                        {
                            font-size: 18px;
                        }
                    }
                }
                .content-video
                {
                    width: 100%;
                    padding: 30px 50px;
                    .video 
                    {
                        width: 100%;
                        video 
                        {
                            width: 100%;
                            height: 75vh;
                            background-color: $secondaryBlackclr !important;
                        }
                        

                        img 
                        {
                            width: 100%;
                            height: 522px;
                        }
                    }
                    .raise-query 
                    {
                        margin: 10px 0;
                        text-align: right;
                        color: $secondarySolidClr;
                    }
                }
            }
            #library
            {
                .content-title 
                {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                    color: $secondarySolidClr;

                    .library
                    {
                        justify-self: end;
                        
                        i 
                        {
                            color: $primarySolidClr;
                            margin: 0 10px;
                        }
                    }
                }
                .give-info
                {
                    padding: 30px 50px;
                    text-align: center;

                    > * 
                    {
                        margin-bottom: 10px;
                    }
                    .block-text
                    {
                        padding: 0 20px;
                    }
                }
                .img 
                {
                    padding: 30px 50px;
                    img
                    {
                        width: 100%;
                        height: 422px;
                        object-fit: contain;
                    }
                }
            }
        }
        
    }
}


@media screen and (max-width: 1500px) and (min-width: 1200px) 
{

}

@media screen and (max-width: 1199px) and (min-width: 992px)
{

}

@media screen and (max-width: 991px) and (min-width: 768px)
{
    .subheader
    {
        grid-template-columns: 1fr;

        .col-2
        {
            display: none;
        }

    }
    .container
    {
        .grid-content
        {
            .tabcontent-wrap
            {
                .tabcontent
                {
                    .content-title,
                    .content-video
                    {
                        padding: 30px 10px;
                    }
                    .content-title
                    {
                        .title
                        {
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        a:nth-child(1),
                        a:nth-child(3)
                        {
                            display: none;
                        }
                        
                        // .icons
                        // {
                        //     display: none;
                        // }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) and (min-width: 440px)
{
    .container 
    {
        .grid-content
        {
            .tabcontent-wrap
            {
                width: 100vw;
            }
        }
    }
}
@media screen and (max-width: 767px) and (min-width: 280px)
{
    .subheader
    {
        width: 100vw;
        grid-template-columns: 1fr;

        .col-2
        {
            display: none;
        }

    }

    .container
    {
        .grid-content
        {
            // width: 100vw;
            position: relative;
            .side-nav
            {
                position: absolute;
                top: 0;
                left: 0;
                width: 300px;
                background-color: $primaryWhiteClr;
                box-shadow: 2px 0 4px 1000px rgba($color: #000000, $alpha: 0.3) ;
                
                .nav-head
                {
                    padding: 10px;
                }
                .collapsible-wrap
                {
                    .collapsible
                    {
                        padding: 10px;
                    }
                    .collapsible-content
                    {
                        .lecture-title
                        {
                            margin-left: 7px;
                            a 
                            {
                                .line
                                {
                                    z-index: 1;
                                }
                            }
                        }
                    }
                }
                .library 
                {
                    padding: 10px;
                }
            }
            .side-nav.shrink
            {
                width: 45px;
                box-shadow: 0px 0 0px 1000px rgba($color: #000000, $alpha: 0.0) ;

            }

            .tabcontent-wrap
            {
                width: 88vw;
                margin-left: 45px;
                .tabcontent
                {
                    // width: 100%;
                    .content-title,
                    .content-video
                    {
                        padding: 20px;
                    }
                    .content-title
                    {
                        width: 100%;
                        grid-template-columns: auto auto;
                        grid-gap: 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        .title
                        {
                            width: 100%;
                            grid-template-columns: 1fr 1fr;
                            overflow: hidden;
                            *
                            {
                                margin: 0 5px;
                                overflow: hidden;
                            }

                            
                        }
                        .icons
                        {
                            justify-self: end;
                            > * 
                            {
                                margin: 0 10px !important;
                            }
                            a:nth-child(1),
                            a:nth-child(3)
                            {
                                display: none;
                            }
                        }
                    }
                    .content-video
                    {
                        .video
                        {
                            video 
                            {
                                height: 50vh;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) and (min-width: 440px)
{
    .container 
    {
        .grid-content
        {
            .tabcontent-wrap
            {
                width: 93vw;
            }
        }
    }
}
@media screen and (max-width: 550px) and (min-width: 280px)
{
    .container
    {
        .grid-content
        {
            .tabcontent-wrap
            {
                .tabcontent
                {
                    .content-title
                    {
                        .icons
                        {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}