button
{
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 7px 16px ;
    transition: all 0.2s ease;
    cursor: pointer;

    h5,p 
    {
        transition: all 0.1s ease;
    }
}



.grad-bg-btn
{
    color: $primaryWhiteClr;
    background: $forthBlackClr;
    border: 2px solid transparent;
    // background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), $hoverGradClr;
    // background-size: 200% auto;
    // background-origin: border-box;
    // background-clip: content-box, border-box;
    // box-shadow: 2px 1000px 1px transparent inset;

    &:hover
    {
        color: $primaryWhiteClr;
        background: $secondaryBlackclr;
        // box-shadow: none;
        // background-position: right center;
    }
}
.grad-border-btn
{
    color: $thridBlackClr;
    background: transparent;
    border: 2px solid $forthBlackClr;

    &:hover
    {
        border: 2px solid $secondaryBlackclr;
        background-color: $secondaryBlackclr;
        color: $primaryWhiteClr;
    }
}

@mixin gradBorderBtn($color, $box-shadow) {
    color: $color;
    border: 3px solid transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), $hoverGradClr;
    background-size: 200% auto;
    background-origin: border-box;
    background-clip: content-box, border-box;
    // box-shadow: 2px 1000px 1px $secondaryBlackclr inset;
    box-shadow: $box-shadow;

    

    &:hover
    {
        color: $primaryWhiteClr;
        box-shadow: none;
        background-position: right center;
    }
}

.solid-bg-btn
{
    color: $primaryWhiteClr;
    border: 3px solid transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), $hoverSolidClr;
    background-size: 200% auto;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px transparent inset;

    &:hover
    {
        color: $primaryWhiteClr;
        box-shadow: none;
        background-position: right center;
    }
}
.solid-border-btn
{
    color: $primarySolidClr;
    border: 1px solid $primarySolidClr;
    background-color: $primaryWhiteClr;

    &:hover 
    {
        background-color: $primarySolidClr;
        color: $primaryWhiteClr;
    }
}
.neomor-btn
{
    // color: $secondaryBlackclr;
    // border: 3px solid $primarySolidClr;
    // background-color: $primaryWhiteClr;
    background-color: $primarySolidClr;
    color: $primaryWhiteClr;
    // border-radius: 50px;
    // box-shadow: 
    // -3px -3px 5px rgba($color: #fff, $alpha: 1.0),
    // 3px 3px 5px #c8c8c8;
    // transition: 0.2s ease-in-out;

    // &:hover 
    // {
    //     // box-shadow: 
    //     // -5px -5px 7px rgba($color: #fff, $alpha: 1.0),
    //     // 5px 5px 7px 1px #c8c8c8;
    //     // color: $secondaryBlackclr;
    // }
    // &:active 
    // {
    //     box-shadow: 
    //     -2px -2px 2px rgba($color: #fff, $alpha: 1.0),
    //     2px 2px 2px #c8c8c8;
    // }
}

.rounded-btn
{
    border-radius: 50%;
    padding: 10px;
    border: none;
    @include gridCenter();
}
