input,
textarea
{
    font-family: gothamRegular;
    font-size: 20px;
    outline: none;
    border: 0.5px solid transparent;
    padding: 10px 15px;
    resize: none;
}

.input-style-one
{
    border-radius: 6px;
    
}

.input-style-two
{
    box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.40);
    border-radius: 4px;
}

.input-search-modal
{
    background: transparent;
    outline: none;
    border-bottom: 0.5px solid $secondaryWhiteClr;
    width: 100%;
    color: $secondaryWhiteClr;
    padding: 10px 40px;
}
.input-search-modal::placeholder
{
    color: #cecece;
}

label
{
    font-family: gothamRegular;
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
}