input,
textarea
{
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border: 0.5px solid transparent;
    padding: 10px 15px;
    resize: none;
    background-color: $primaryWhiteClr;
    
}

// number field reset
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

// autofill reset
input:-webkit-autofill,
input:-webkit-autofill:active
{ 
    transition: background-color 5000s ease-in-out 0s;
    

    background-color: #fafafa;
    box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.00);
    // border-color: transparent;
    -webkit-text-fill-color: #000;
    transition: 0.3s ease-in-out;
}
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
{
    transition: background-color 5000s ease-in-out 0s;
    // -webkit-box-shadow:0 0 0 50px white;
    box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.20);
    border-color: $thirdWhiteClr;
    -webkit-text-fill-color: #000;
    
}




.input-style-one
{
    border-radius: 6px;
    
}

.input-style-two
{
    box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.00);
    // box-shadow: 0px 0px 2px 1px #f0f0f0;
    border-radius: 4px;
    border-color: $thirdWhiteClr;
    transition: 0.3s ease-in-out;
}
.input-style-two:hover,
.input-style-two:focus
{
    box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.20);
    
    
}

.input-search-modal
{
    background: transparent;
    outline: none;
    border-bottom: 0.5px solid $secondaryWhiteClr;
    width: 100%;
    color: $secondaryWhiteClr;
    padding: 10px 40px;
}
.input-search-modal::placeholder
{
    color: #cecece;
}

label
{
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}