* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

hr.black-hr {
  height: 0.3px;
  background: rgba(112, 112, 112, 0.5);
  border: none;
  margin: 20px 0;
}

* {
  font-family: "hind madurai", sans-serif;
}

.small {
  font-size: 15px;
}

p {
  font-size: 17px;
}

h5 {
  font-size: 18px;
}

h4 {
  font-size: 22px;
}

h3 {
  font-size: 24px;
}

h2 {
  font-size: 26px;
}

h1 {
  font-size: 32px;
}

.black {
  font-weight: 800;
}

.bold {
  font-weight: 500;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  .small {
    font-size: 14px;
  }
  p {
    font-size: 15px;
  }
  h5 {
    font-size: 16px;
  }
  h4 {
    font-size: 20px;
  }
  h3 {
    font-size: 22px;
  }
  h2 {
    font-size: 24px;
  }
  h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .small {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  h5 {
    font-size: 15px;
  }
  h4 {
    font-size: 18px;
  }
  h3 {
    font-size: 20px;
  }
  h2 {
    font-size: 22px;
  }
  h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 500px) and (min-width: 270px) {
  .small {
    font-size: 13px;
  }
  p {
    font-size: 14px;
  }
  h5 {
    font-size: 15px;
  }
  h4 {
    font-size: 17px;
  }
  h3 {
    font-size: 19px;
  }
  h2 {
    font-size: 21px;
  }
  h1 {
    font-size: 24px;
  }
}

button {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 7px 12px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.grad-bg-btn {
  color: #ffffff;
  background: #606060;
  border: 2px solid transparent;
}

.grad-bg-btn:hover {
  color: #ffffff;
  background: #404040;
}

.grad-border-btn {
  color: #404040;
  background: transparent;
  border: 2px solid #606060;
}

.grad-border-btn:hover {
  border: 2px solid #404040;
  background-color: #404040;
  color: #ffffff;
}

.solid-bg-btn {
  color: #ffffff;
  border: 3px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#1BB899), color-stop(15%, #1BB899), to(#1B9CB8));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #1BB899 0%, #1BB899 15%, #1B9CB8 100%);
  background-size: 200% auto;
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px transparent inset;
          box-shadow: 2px 1000px 1px transparent inset;
}

.solid-bg-btn:hover {
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: right center;
}

.solid-border-btn {
  color: #1BB899;
  border: 1px solid #1BB899;
  background-color: #ffffff;
}

.solid-border-btn:hover {
  background-color: #1BB899;
  color: #ffffff;
}

.neomor-btn {
  background-color: #1BB899;
  color: #ffffff;
}

.rounded-btn {
  border-radius: 50%;
  padding: 10px;
  border: none;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

input,
textarea {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border: 0.5px solid transparent;
  padding: 10px 15px;
  resize: none;
  background-color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  background-color: #fafafa;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  -webkit-text-fill-color: #000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-color: #cacaca;
  -webkit-text-fill-color: #000;
}

.input-style-one {
  border-radius: 6px;
}

.input-style-two {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  border-radius: 4px;
  border-color: #cacaca;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.input-style-two:hover,
.input-style-two:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.input-search-modal {
  background: transparent;
  outline: none;
  border-bottom: 0.5px solid #FAFAFA;
  width: 100%;
  color: #FAFAFA;
  padding: 10px 40px;
}

.input-search-modal::-webkit-input-placeholder {
  color: #cecece;
}

.input-search-modal:-ms-input-placeholder {
  color: #cecece;
}

.input-search-modal::-ms-input-placeholder {
  color: #cecece;
}

.input-search-modal::placeholder {
  color: #cecece;
}

label {
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

section.offer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#CC2B5E), to(#F48400));
  background: linear-gradient(to right, #CC2B5E 0%, #F48400 100%);
  padding: 5px 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  section.offer {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  section.offer {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  section.offer {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

section.offer .title {
  -ms-grid-column-align: end;
      justify-self: end;
}

section.offer .countdown {
  -ms-grid-column-align: start;
      justify-self: start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 20px;
}

section.offer .countdown span {
  padding: 5px 8px;
  border-radius: 4px;
  background: rgba(43, 43, 43, 0.25);
}

section.offer .countdown .open-btn {
  text-decoration: underline;
  cursor: pointer;
}

section.offer .cls-btn {
  position: absolute;
  top: 50%;
  right: 2%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section.offer .cls-btn button {
  border-radius: 50%;
  padding: 6px;
  border: none;
  background: rgba(43, 43, 43, 0.25);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  section.offer {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  section.offer .title {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  section.offer .countdown {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  section.offer {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  section.offer .title {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  section.offer .countdown {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 500px) and (min-width: 270px) {
  section.offer {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  section.offer .title {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  section.offer .countdown {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    justify-items: center;
  }
  section.offer .countdown p {
    text-align: center;
  }
  section.offer .cls-btn {
    top: auto;
    bottom: 0%;
  }
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #ffffff;
  color: #000;
  padding: 5px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content auto auto;
      grid-template-columns: -webkit-min-content auto auto;
      grid-template-columns: min-content auto auto;
  grid-gap: 10px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  z-index: 999;
}

header a {
  color: #000;
}

header > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo > * {
  margin: 0 5px;
}

header .logo > * img {
  width: 60px;
  height: 60px;
}

header .logo .logo-text {
  white-space: nowrap;
}

header .search-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 15%;
      grid-template-columns: 85% 15%;
  margin-left: 15px;
}

header .search-bar input {
  width: 100%;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid transparent;
}

header .search-bar input:hover, header .search-bar input:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

header .search-bar button {
  width: 100%;
  height: 40.8px;
  border-radius: 0 4px 4px 0;
  border: 1px solid #cacaca;
  background-color: #f3f3f3;
}

header .search-bar button:hover {
  background-color: #cacaca;
}

header .nav-menu {
  -ms-grid-column-align: end;
      justify-self: end;
}

header .nav-menu > * {
  margin: 0 10px;
}

header .responsive-navbtn {
  display: none;
}

header .responsive-navbtn .btn {
  padding: 8px;
  border-radius: 50px;
  background: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.responsive-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: 9999;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
}

.responsive-content > * {
  padding: 10px 30px;
}

.responsive-content .head {
  padding: 15px 30px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #cacaca;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.responsive-content .head .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.responsive-content .head .cls-btn {
  -ms-grid-column-align: end;
      justify-self: end;
}

.responsive-content .head .cls-btn button {
  background-color: #cacaca;
  padding: 5px;
}

.responsive-content .responsive-menu button {
  width: 100%;
}

.responsive-content.show-navcontent {
  width: 50vw;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  header {
    padding: 10px clamp(25px, 3.5vw, 40px);
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "logo nav" "search search";
    grid-gap: 5px;
  }
  header .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  header .logo img {
    width: 50px;
    height: 50px;
  }
  header .search-bar {
    margin-left: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: search;
    -ms-grid-columns: 90% 10%;
        grid-template-columns: 90% 10%;
  }
  header .nav-menu {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: nav;
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  header {
    padding: 10px clamp(25px, 3.5vw, 40px);
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "logo nav" "search search";
    grid-gap: 5px;
  }
  header .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  header .logo img {
    width: 50px;
    height: 50px;
  }
  header .search-bar {
    margin-left: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: search;
    -ms-grid-columns: 90% 10%;
        grid-template-columns: 90% 10%;
  }
  header .nav-menu {
    display: none;
  }
  header .responsive-navbtn {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: nav;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 500px) and (min-width: 270px) {
  header {
    padding: 10px clamp(25px, 3.5vw, 40px);
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "logo nav" "search search";
    grid-gap: 5px;
  }
  header .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  header .logo img {
    width: 50px;
    height: 50px;
  }
  header .search-bar {
    margin-left: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: search;
    -ms-grid-columns: 85% 15%;
        grid-template-columns: 85% 15%;
  }
  header .nav-menu {
    display: none;
  }
  header .responsive-navbtn {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: nav;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .responsive-content.show-navcontent {
    width: 70vw;
  }
}

@media screen and (max-width: 400px) and (min-width: 270px) {
  header {
    padding: 10px clamp(25px, 3.5vw, 40px);
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "logo nav" "search search";
    grid-gap: 5px;
  }
  header .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  header .logo img {
    width: 50px;
    height: 50px;
  }
  header .search-bar {
    margin-left: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: search;
    -ms-grid-columns: 85% 15%;
        grid-template-columns: 85% 15%;
  }
  header .nav-menu {
    display: none;
  }
  header .responsive-navbtn {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: nav;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  display: none;
}

.modal {
  background-color: #ffffff;
  margin: 0 auto;
}

.search-modal {
  width: 100%;
  height: 100vh;
}

.modal-header {
  padding: 5px 80px;
  padding-bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#24243E), color-stop(50%, #302B63), to(#24243E));
  background: linear-gradient(to right, #24243E 0%, #302B63 50%, #24243E 100%);
  color: #ffffff;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  .modal-header {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .modal-header {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  .modal-header {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

.modal-header .upper-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.8fr 1fr;
      grid-template-columns: 1fr 1.8fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 40px;
}

.modal-header .upper-part .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-header .upper-part .logo .logo-img img {
  width: 65px;
  height: 65px;
}

.modal-header .upper-part .logo .logo-text h2 {
  font-family: gothamBlack;
}

.modal-header .upper-part .search-field {
  position: relative;
}

.modal-header .upper-part .search-field svg {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-header .upper-part .cls-btn {
  -ms-grid-column-align: end;
      justify-self: end;
}

.modal-header .lower-part {
  padding: 20px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-header .lower-part .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-header .lower-part .tab .tablink {
  margin-right: 40px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #cacaca;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  cursor: pointer;
}

.modal-header .lower-part .tab .tablink:hover {
  color: #ffffff;
}

.modal-header .lower-part .tab .tablink.active {
  color: #ffffff;
  border-bottom: 3px solid;
  border-color: #ffffff;
}

.modal-header .lower-part .hamburger {
  padding-bottom: 10px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.search-modal .tabcontent {
  padding: 5px 80px;
  display: none;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  .search-modal .tabcontent {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .search-modal .tabcontent {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  .search-modal .tabcontent {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

.search-modal .tabcontent p {
  margin: 5px 0;
  line-height: 1.2em;
}

.search-modal .tabcontent .view-more h5 {
  margin: 10px 0;
  color: #12856e;
}

.search-modal .tabcontent.active {
  display: block;
}

.offer-modal {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.offer-modal .countdown-part {
  padding: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#001646), to(#16608b));
  background: linear-gradient(to right, #001646 0%, #16608b 100%);
  color: #ffffff;
}

.offer-modal .countdown-part .wrap {
  padding: 20px;
  border: 1px dashed #cacaca;
}

.offer-modal .countdown-part .wrap > * {
  margin: 15px 0;
}

.offer-modal .countdown-part .wrap .title h4 {
  line-height: 1.3em;
}

.offer-modal .countdown-part .wrap .countdown {
  text-align: center;
  padding: 10px 0;
  background: -webkit-gradient(linear, left top, right top, from(#CC2B5E), to(#F48400));
  background: linear-gradient(to right, #CC2B5E 0%, #F48400 100%);
  border-radius: 6px;
}

.offer-modal .countdown-part > .text-content {
  margin: 20px;
}

.offer-modal .avail-part {
  position: relative;
  padding: 40px;
}

.offer-modal .avail-part > * {
  margin: 15px 0;
}

.offer-modal .avail-part .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 15px;
  color: #12856e;
  display: flex;
  align-items: center;
}

.offer-modal .avail-part .form > * {
  margin: 15px 0;
}

.offer-modal .avail-part .form input, .offer-modal .avail-part .form button {
  width: 100%;
}

.offer-modal .avail-part .cls-btn {
  position: absolute;
  top: 30px;
  right: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.offer-modal .avail-part .cls-btn button {
  background-color: #cacaca;
}

@media screen and (max-width: 1100px) and (min-width: 760px) {
  .search-modal .modal-header .upper-part {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
  .search-modal .modal-header .upper-part .logo .logo-text {
    display: none;
  }
  .search-modal .modal-header .lower-part .tab .tablink:nth-of-type(5),
  .search-modal .modal-header .lower-part .tab .tablink:nth-of-type(6) {
    display: none;
  }
  .offer-modal {
    top: 0;
    -webkit-transform: translateY(0%) translateX(-50%);
            transform: translateY(0%) translateX(-50%);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 70%;
  }
  .offer-modal .countdown-part {
    position: relative;
  }
  .offer-modal .avail-part {
    position: static;
  }
  .offer-modal .avail-part .cls-btn button {
    background-color: #404040;
  }
}

@media screen and (max-width: 750px) and (min-width: 260px) {
  .search-modal .modal-header .upper-part {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
  .search-modal .modal-header .upper-part .logo .logo-text {
    display: none;
  }
  .search-modal .modal-header .lower-part .tab .tablink:nth-of-type(4),
  .search-modal .modal-header .lower-part .tab .tablink:nth-of-type(5),
  .search-modal .modal-header .lower-part .tab .tablink:nth-of-type(6) {
    display: none;
  }
  .offer-modal {
    top: 0%;
    left: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  .offer-modal .countdown-part {
    position: relative;
  }
  .offer-modal .avail-part {
    position: static;
  }
  .offer-modal .avail-part .cls-btn button {
    background-color: #404040;
  }
}

@media screen and (max-width: 550px) and (min-width: 270px) {
  .search-modal .modal-header .upper-part {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
  .search-modal .modal-header .upper-part .logo {
    display: none;
  }
  .search-modal .modal-header .lower-part .tab .tablink {
    margin-right: 10px;
  }
  .search-modal .modal-header .lower-part .tab .tablink:nth-of-type(3),
  .search-modal .modal-header .lower-part .tab .tablink:nth-of-type(4),
  .search-modal .modal-header .lower-part .tab .tablink:nth-of-type(5),
  .search-modal .modal-header .lower-part .tab .tablink:nth-of-type(6) {
    display: none;
  }
}

.query {
  z-index: 999;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.query .visible-content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  background-color: #1BB899;
  border-radius: 10px 0 0 10px;
}

.query .visible-content img {
  height: 30px;
  width: 30px;
}

.query .hidden-content {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.query .hidden-content .wrap {
  background-color: #1BB899;
}

.query .hidden-content .head {
  text-align: center;
  color: #ffffff;
  padding: 13px;
}

.query .hidden-content .contact-info {
  color: #1BB899;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.query .hidden-content .contact-info .icon {
  font-size: 35px;
  margin-right: 20px;
  color: #1BB899;
}

.query .hidden-content .form {
  padding: 10px 15px;
}

.query .hidden-content .form > * {
  margin: 6px;
  position: relative;
}

.query .hidden-content .form label {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.query .hidden-content .form label p {
  color: #777777;
}

.query .hidden-content .form .intTel-field input::-webkit-input-placeholder {
  color: #777777;
}

.query .hidden-content .form .intTel-field input:-ms-input-placeholder {
  color: #777777;
}

.query .hidden-content .form .intTel-field input::-ms-input-placeholder {
  color: #777777;
}

.query .hidden-content .form .intTel-field input::placeholder {
  color: #777777;
}

.query .hidden-content .form input.email::-webkit-input-placeholder,
.query .hidden-content .form textarea.text-area::-webkit-input-placeholder {
  color: transparent !important;
}

.query .hidden-content .form input.email:-ms-input-placeholder,
.query .hidden-content .form textarea.text-area:-ms-input-placeholder {
  color: transparent !important;
}

.query .hidden-content .form input.email::-ms-input-placeholder,
.query .hidden-content .form textarea.text-area::-ms-input-placeholder {
  color: transparent !important;
}

.query .hidden-content .form input.email::placeholder,
.query .hidden-content .form textarea.text-area::placeholder {
  color: transparent !important;
}

.query .hidden-content .form input.email:focus + label,
.query .hidden-content .form input.email:not(:placeholder-shown) + label {
  background-color: #ffffff;
  left: 15px;
  -webkit-transform: translateY(-110%) translateX(-15%) scale(0.7);
          transform: translateY(-110%) translateX(-15%) scale(0.7);
}

.query .hidden-content .form .text-field label {
  top: 25%;
}

.query .hidden-content .form textarea.text-area:focus + label,
.query .hidden-content .form textarea.text-area:not(:placeholder-shown) + label {
  background-color: #ffffff;
  left: 15px;
  -webkit-transform: translateY(-80%) translateX(-15%) scale(0.7);
          transform: translateY(-80%) translateX(-15%) scale(0.7);
}

.query .hidden-content .form input.email, .query .hidden-content .form textarea.text-area, .query .hidden-content .form button {
  width: 100%;
}

.query .hidden-content .form input.email, .query .hidden-content .form textarea {
  padding-top: 20px;
  padding-bottom: 6px;
  font-size: 18px;
}

.query .hidden-content .form button {
  padding: 5px 10px;
}

.query .active-query {
  max-width: 40em;
}

footer .upper-part {
  background: #262626;
  color: #ffffff;
  padding: 5px 80px;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  footer .upper-part {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  footer .upper-part {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  footer .upper-part {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

footer .upper-part .join-part {
  padding-left: 20px;
}

footer .upper-part .join-part > * {
  margin-bottom: 15px;
}

footer .upper-part .join-part .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

footer .upper-part .join-part .logo .logo-img {
  margin-right: 10px;
}

footer .upper-part .join-part .logo .logo-img img {
  width: 65px;
  height: 65px;
}

footer .upper-part .join-part table td {
  padding-right: 10px;
  text-align: left;
}

footer .upper-part .pages-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-row-align: center;
      align-self: center;
  justify-items: center;
}

footer .upper-part .pages-part .title {
  margin-bottom: 15px;
}

footer .upper-part .pages-part .pages {
  display: -ms-grid;
  display: grid;
}

footer .upper-part .pages-part .pages p {
  margin-bottom: 5px;
  cursor: pointer;
}

footer .lower-part {
  background: #111111;
  color: #ffffff;
  padding: 5px 150px;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  footer .lower-part {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  footer .lower-part {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  footer .lower-part {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

footer .lower-part p {
  font-size: 14px;
}

footer .lower-part .terms-privacy {
  -ms-grid-column-align: center;
      justify-self: center;
}

footer .lower-part .logos {
  -ms-grid-column-align: end;
      justify-self: end;
}

footer .lower-part .logos img {
  margin: 0 5px;
}

@media screen and (max-width: 650px) and (min-width: 501px) {
  footer .upper-part {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  footer .upper-part .join-part {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  footer .lower-part {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "rights rights" "policy logo";
    grid-gap: 10px;
  }
  footer .lower-part .rights {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: rights;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  footer .lower-part .terms-privacy {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: policy;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  footer .lower-part .logos {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: logo;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media screen and (max-width: 500px) and (min-width: 270px) {
  footer .upper-part {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  footer .upper-part .join-part {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  footer .lower-part {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  footer .lower-part .rights, footer .lower-part .terms-privacy {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  footer .lower-part .logos {
    display: none;
  }
}

section.sub-header {
  padding: 5px 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #cacaca;
  background-color: #f3f3f3;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  section.sub-header {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  section.sub-header {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  section.sub-header {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

section.sub-header .megamenu {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section.sub-header .megamenu .menu-btn {
  padding: 10px;
  pointer-events: all;
  z-index: 99;
}

section.sub-header .megamenu .menu-btn p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.sub-header .megamenu .menu-btn i {
  margin-left: 5px;
}

section.sub-header .megamenu .menu-content {
  padding: 30px 50px;
  background-color: #ffffff;
  margin-top: 0px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 99;
  overflow: hidden;
  opacity: 0;
  height: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section.sub-header .megamenu .menu-content .catagories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

section.sub-header .megamenu .menu-content .catagories .catagory-wrap {
  padding: 20px;
}

section.sub-header .megamenu .menu-content .catagories .main-cata h5 {
  color: #12856e;
}

section.sub-header .megamenu .menu-content .catagories .sub-cata {
  margin: 20px 10px;
}

section.sub-header .megamenu .menu-content .catagories .sub-cata p {
  line-height: 1.5em;
}

section.sub-header .megamenu .megamenu-active {
  opacity: 1;
  height: 80vh;
  z-index: 99;
}

section.sub-header .nav-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  z-index: 99;
}

section.sub-header .nav-menu a h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 18px;
  border-radius: 100px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

section.sub-header .nav-menu a h4:hover {
  background: #f1f1f1;
}

section.sub-header .drop-down {
  -ms-grid-column-align: end;
      justify-self: end;
  position: relative;
}

section.sub-header .drop-down .hamburger-menu {
  z-index: 99;
}

section.sub-header .drop-down .hamburger-menu button {
  padding: 5px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cacaca;
}

section.sub-header .drop-down .hamburger-menu button:hover {
  background-color: #606060;
}

section.sub-header .drop-down .menu-content {
  padding: 20px 0;
  background-color: #ffffff;
  margin-top: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 0px;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

section.sub-header .drop-down .menu-content .cata p {
  white-space: nowrap;
  padding: 5px 30px;
}

section.sub-header .drop-down .menu-content .cata p:hover {
  background-color: #f3f3f3;
}

section.sub-header .drop-down .active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  z-index: 999;
  background-color: #ffffff;
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .sub-header .nav-menu .nav-three, .sub-header .nav-menu .nav-four {
    display: none;
  }
}

@media screen and (max-width: 500px) and (min-width: 270px) {
  .sub-header .nav-menu .nav-three, .sub-header .nav-menu .nav-four, .sub-header .nav-menu .nav-two {
    display: none;
  }
}

.container section > .title h3 {
  color: #1BB899;
  margin-bottom: 20px;
}

.container .card {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  position: relative;
  margin: 0px 0 20px 0;
}

.container .card .img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.container .card .img .img-ribbon {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, right top, from(#CC2B5E), to(#F48400));
  background: linear-gradient(to right, #CC2B5E 0%, #F48400 100%);
  color: #ffffff;
}

.container .card .description {
  padding: 10px 30px;
}

.container .card .description > * {
  margin: 10px 0;
}

.container .card .description .rating i {
  color: #FFB800;
}

.container .card .description .instructor {
  margin-bottom: 20px;
}

.container .card .description .card-detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
}

.container .card .description .card-detail small {
  font-size: 16px;
  font-family: gothamMedium;
}

.container .card .description .card-detail .time, .container .card .description .card-detail .watched {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.container .sub-header {
  padding: 5px 60px;
}

.container .sub-header .nav-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .sub-header .nav-menu a:hover {
  background: #f1f1f1;
}

.container .sub-header .nav-menu a i {
  padding-right: 15px;
  font-weight: 400;
}

.container .sub-header .nav-menu a p {
  border-radius: unset;
  padding: 5px 10px 5px 15px;
}

.container .sub-header .nav-menu a p:hover {
  background: unset;
}

.container .sub-header .btn {
  -ms-grid-column-align: right;
      justify-self: right;
}

.container .sub-header .btn button {
  color: #000;
  border: 3px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#CC2B5E), color-stop(50%, #F48400), to(#CC2B5E));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #CC2B5E 0%, #F48400 50%, #CC2B5E 100%);
  background-size: 200% auto;
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px #FAFAFA inset;
          box-shadow: 2px 1000px #FAFAFA inset;
}

.container .sub-header .btn button:hover {
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: right center;
}

.container .learning-interest {
  padding: 5px 150px;
  margin: 50px 0;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  .container .learning-interest {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .container .learning-interest {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  .container .learning-interest {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

.container .learning-interest .content-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

.container .learning-interest .content-wrap > * {
  padding: 30px 30px 15px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .learning-interest .content-wrap > *:hover {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.container .learning-interest .content-wrap .content {
  text-align: center;
}

.container .learning-interest .content-wrap .content img {
  margin-bottom: 10px;
}

.container .resources {
  padding: 5px 150px;
  margin: 50px 0;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  .container .resources {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .container .resources {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  .container .resources {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

.container .resources .resource-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.container .resources .resource-wrap .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: 15px 30px;
  border-radius: 6px;
}

.container .resources .resource-wrap .content .img {
  margin-right: 20px;
}

.container .resources .resource-wrap .content .img img {
  width: 65px;
  height: 65px;
}

.container .resources .resource-wrap .content .text p.small {
  color: #1BB899;
  margin-top: 10px;
}

.container .recent-article {
  padding: 5px 150px;
  margin: 50px 0;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  .container .recent-article {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .container .recent-article {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  .container .recent-article {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

.container .recent-article .card-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.container .recent-article .collapsible {
  margin: 20px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  background-color: #262626;
  color: #ffffff;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 6px;
}

.container .recent-article .collapsible:before {
  content: "View More";
}

.container .recent-article .active:before {
  content: "View Less";
}

.container .recent-article .content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .popular-article {
  padding: 5px 150px;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  .container .popular-article {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .container .popular-article {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  .container .popular-article {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

.container .popular-article .card-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.container .popular-article .pagination {
  margin: 20px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.container .popular-article .pagination a {
  font-family: "montserrat",sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 5px 8px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 100px;
}

.container .popular-article .pagination a:hover {
  background-color: #f3f3f3;
}

.container .popular-article .pagination #one {
  padding: 5px 14px;
}

.container .popular-article .pagination #two, .container .popular-article .pagination #three, .container .popular-article .pagination #four, .container .popular-article .pagination #five {
  padding: 5px 11px;
}
/*# sourceMappingURL=blog.css.map */