* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

hr.black-hr {
  height: 0.3px;
  background: rgba(112, 112, 112, 0.5);
  border: none;
  margin: 20px 0;
}

* {
  font-family: "hind madurai", sans-serif;
}

.small {
  font-size: 15px;
}

p {
  font-size: 17px;
}

h5 {
  font-size: 18px;
}

h4 {
  font-size: 22px;
}

h3 {
  font-size: 24px;
}

h2 {
  font-size: 26px;
}

h1 {
  font-size: 32px;
}

.black {
  font-weight: 800;
}

.bold {
  font-weight: 500;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  .small {
    font-size: 14px;
  }
  p {
    font-size: 15px;
  }
  h5 {
    font-size: 16px;
  }
  h4 {
    font-size: 20px;
  }
  h3 {
    font-size: 22px;
  }
  h2 {
    font-size: 24px;
  }
  h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .small {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  h5 {
    font-size: 15px;
  }
  h4 {
    font-size: 18px;
  }
  h3 {
    font-size: 20px;
  }
  h2 {
    font-size: 22px;
  }
  h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 500px) and (min-width: 270px) {
  .small {
    font-size: 13px;
  }
  p {
    font-size: 14px;
  }
  h5 {
    font-size: 15px;
  }
  h4 {
    font-size: 17px;
  }
  h3 {
    font-size: 19px;
  }
  h2 {
    font-size: 21px;
  }
  h1 {
    font-size: 24px;
  }
}

button {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.grad-bg-btn {
  color: #fff;
  border: 3px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#CC2B5E), color-stop(50%, #F48400), to(#CC2B5E));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #CC2B5E 0%, #F48400 50%, #CC2B5E 100%);
  background-size: 200% auto;
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px transparent inset;
          box-shadow: 2px 1000px 1px transparent inset;
}

.grad-bg-btn:hover {
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: right center;
}

.solid-bg-btn {
  color: #fff;
  border: 3px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#1BB899), color-stop(15%, #1BB899), to(#1B9CB8));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #1BB899 0%, #1BB899 15%, #1B9CB8 100%);
  background-size: 200% auto;
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px transparent inset;
          box-shadow: 2px 1000px 1px transparent inset;
}

.solid-bg-btn:hover {
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: right center;
}

.solid-border-btn {
  color: #1BB899;
  border: 1px solid #1BB899;
  background-color: #fff;
}

.solid-border-btn:hover {
  background-color: #1BB899;
  color: #fff;
}

.neomor-btn {
  background-color: #1BB899;
  color: #fff;
}

.rounded-btn {
  border-radius: 50%;
  padding: 10px;
  border: none;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

input,
textarea {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border: 0.5px solid transparent;
  padding: 10px 15px;
  resize: none;
  background-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  background-color: #fafafa;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  -webkit-text-fill-color: #000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-color: #cacaca;
  -webkit-text-fill-color: #000;
}

.input-style-one {
  border-radius: 6px;
}

.input-style-two {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  border-radius: 4px;
  border-color: #cacaca;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.input-style-two:hover,
.input-style-two:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.input-search-modal {
  background: transparent;
  outline: none;
  border-bottom: 0.5px solid #FAFAFA;
  width: 100%;
  color: #FAFAFA;
  padding: 10px 40px;
}

.input-search-modal::-webkit-input-placeholder {
  color: #cecece;
}

.input-search-modal:-ms-input-placeholder {
  color: #cecece;
}

.input-search-modal::-ms-input-placeholder {
  color: #cecece;
}

.input-search-modal::placeholder {
  color: #cecece;
}

label {
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

section.offer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#CC2B5E), to(#F48400));
  background: linear-gradient(to right, #CC2B5E 0%, #F48400 100%);
  padding: 5px 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  section.offer {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  section.offer {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  section.offer {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

section.offer .title {
  -ms-grid-column-align: end;
      justify-self: end;
}

section.offer .countdown {
  -ms-grid-column-align: start;
      justify-self: start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 20px;
}

section.offer .countdown span {
  padding: 5px 8px;
  border-radius: 4px;
  background: rgba(43, 43, 43, 0.25);
}

section.offer .countdown .open-btn {
  text-decoration: underline;
  cursor: pointer;
}

section.offer .cls-btn {
  position: absolute;
  top: 50%;
  right: 2%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section.offer .cls-btn button {
  border-radius: 50%;
  padding: 6px;
  border: none;
  background: rgba(43, 43, 43, 0.25);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  section.offer {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  section.offer .title {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  section.offer .countdown {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  section.offer {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  section.offer .title {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  section.offer .countdown {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 500px) and (min-width: 270px) {
  section.offer {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  section.offer .title {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  section.offer .countdown {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    justify-items: center;
  }
  section.offer .countdown p {
    text-align: center;
  }
  section.offer .cls-btn {
    top: auto;
    bottom: 0%;
  }
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #262626;
  color: #fff;
  padding: 5px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 10px;
  z-index: 999;
}

header a {
  color: #fff;
}

header > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo > * {
  margin: 0 5px;
}

header .logo > * img {
  width: 60px;
  height: 60px;
}

header .logo .logo-text {
  white-space: nowrap;
}

header .search-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  margin-left: 15px;
}

header .search-bar input {
  width: 100%;
  border-radius: 4px 0 0 4px;
}

header .search-bar button {
  width: 100%;
  height: 40.8px;
  border-radius: 0 4px 4px 0;
  border: none;
}

header .nav-menu {
  -ms-grid-column-align: end;
      justify-self: end;
}

header .nav-menu > * {
  margin: 0 10px;
}

header .nav-menu button {
  color: #fff;
  border: 3px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#CC2B5E), color-stop(50%, #F48400), to(#CC2B5E));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #CC2B5E 0%, #F48400 50%, #CC2B5E 100%);
  background-size: 200% auto;
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #262626 inset;
          box-shadow: 2px 1000px 1px #262626 inset;
}

header .nav-menu button:hover {
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: right center;
}

header .responsive-navbtn {
  display: none;
}

header .responsive-navbtn .btn {
  padding: 8px;
  border-radius: 50px;
  background: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.responsive-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.responsive-content > * {
  padding: 10px 30px;
}

.responsive-content .head {
  padding: 15px 30px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #cacaca;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.responsive-content .head .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.responsive-content .head .cls-btn {
  -ms-grid-column-align: end;
      justify-self: end;
}

.responsive-content .head .cls-btn button {
  background-color: #cacaca;
  padding: 5px;
}

.responsive-content .responsive-menu button {
  width: 100%;
}

.responsive-content .responsive-menu button.grad-border-btn {
  color: #000000;
  border: 3px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#CC2B5E), color-stop(50%, #F48400), to(#CC2B5E));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #CC2B5E 0%, #F48400 50%, #CC2B5E 100%);
  background-size: 200% auto;
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #fff inset;
          box-shadow: 2px 1000px 1px #fff inset;
}

.responsive-content .responsive-menu button.grad-border-btn:hover {
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: right center;
}

.responsive-content.show-navcontent {
  width: 50vw;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  header {
    padding: 10px clamp(25px, 3.5vw, 40px);
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "logo nav" "search search";
    grid-gap: 5px;
  }
  header .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  header .logo img {
    width: 50px;
    height: 50px;
  }
  header .search-bar {
    margin-left: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: search;
    -ms-grid-columns: 90% 10%;
        grid-template-columns: 90% 10%;
  }
  header .nav-menu {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: nav;
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  header {
    padding: 10px clamp(25px, 3.5vw, 40px);
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "logo nav" "search search";
    grid-gap: 5px;
  }
  header .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  header .logo img {
    width: 50px;
    height: 50px;
  }
  header .search-bar {
    margin-left: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: search;
    -ms-grid-columns: 90% 10%;
        grid-template-columns: 90% 10%;
  }
  header .nav-menu {
    display: none;
  }
  header .responsive-navbtn {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: nav;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 500px) and (min-width: 270px) {
  header {
    padding: 10px clamp(25px, 3.5vw, 40px);
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "logo nav" "search search";
    grid-gap: 5px;
  }
  header .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  header .logo img {
    width: 50px;
    height: 50px;
  }
  header .search-bar {
    margin-left: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: search;
    -ms-grid-columns: 90% 10%;
        grid-template-columns: 90% 10%;
  }
  header .nav-menu {
    display: none;
  }
  header .responsive-navbtn {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: nav;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .responsive-content.show-navcontent {
    width: 70vw;
  }
}

@media screen and (max-width: 400px) and (min-width: 270px) {
  header {
    padding: 10px clamp(25px, 3.5vw, 40px);
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "logo nav" "search search";
    grid-gap: 5px;
  }
  header .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  header .logo img {
    width: 50px;
    height: 50px;
  }
  header .search-bar {
    margin-left: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: search;
    -ms-grid-columns: 85% 15%;
        grid-template-columns: 85% 15%;
  }
  header .nav-menu {
    display: none;
  }
  header .responsive-navbtn {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: nav;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  display: none;
}

.modal {
  background-color: #fff;
  margin: 0 auto;
}

.search-modal {
  width: 100%;
  height: 100vh;
}

.modal-header {
  padding: 5px 80px;
  padding-bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#24243E), color-stop(50%, #302B63), to(#24243E));
  background: linear-gradient(to right, #24243E 0%, #302B63 50%, #24243E 100%);
  color: #fff;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  .modal-header {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .modal-header {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  .modal-header {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

.modal-header .upper-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.8fr 1fr;
      grid-template-columns: 1fr 1.8fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 40px;
}

.modal-header .upper-part .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-header .upper-part .logo .logo-img img {
  width: 65px;
  height: 65px;
}

.modal-header .upper-part .logo .logo-text h2 {
  font-family: gothamBlack;
}

.modal-header .upper-part .search-field {
  position: relative;
}

.modal-header .upper-part .search-field svg {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-header .upper-part .cls-btn {
  -ms-grid-column-align: end;
      justify-self: end;
}

.modal-header .lower-part {
  padding: 20px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-header .lower-part .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-header .lower-part .tab .tablink {
  margin-right: 40px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #cacaca;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  cursor: pointer;
}

.modal-header .lower-part .tab .tablink:hover {
  color: #fff;
}

.modal-header .lower-part .tab .tablink.active {
  color: #fff;
  border-bottom: 3px solid;
  border-color: #fff;
}

.modal-header .lower-part .hamburger {
  padding-bottom: 10px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.search-modal .tabcontent {
  padding: 5px 80px;
  display: none;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  .search-modal .tabcontent {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .search-modal .tabcontent {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  .search-modal .tabcontent {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

.search-modal .tabcontent p {
  margin: 5px 0;
  line-height: 1.2em;
}

.search-modal .tabcontent .view-more h5 {
  margin: 10px 0;
  color: #12856e;
}

.search-modal .tabcontent.active {
  display: block;
}

.offer-modal {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.offer-modal .countdown-part {
  padding: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#001646), to(#16608b));
  background: linear-gradient(to right, #001646 0%, #16608b 100%);
  color: #fff;
}

.offer-modal .countdown-part .wrap {
  padding: 20px;
  border: 1px dashed #cacaca;
}

.offer-modal .countdown-part .wrap > * {
  margin: 15px 0;
}

.offer-modal .countdown-part .wrap .title h4 {
  line-height: 1.3em;
}

.offer-modal .countdown-part .wrap .countdown {
  text-align: center;
  padding: 10px 0;
  background: -webkit-gradient(linear, left top, right top, from(#CC2B5E), to(#F48400));
  background: linear-gradient(to right, #CC2B5E 0%, #F48400 100%);
  border-radius: 6px;
}

.offer-modal .countdown-part > .text-content {
  margin: 20px;
}

.offer-modal .avail-part {
  position: relative;
  padding: 40px;
}

.offer-modal .avail-part > * {
  margin: 15px 0;
}

.offer-modal .avail-part .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 15px;
  color: #12856e;
  display: flex;
  align-items: center;
}

.offer-modal .avail-part .form > * {
  margin: 15px 0;
}

.offer-modal .avail-part .form input, .offer-modal .avail-part .form button {
  width: 100%;
}

.offer-modal .avail-part .cls-btn {
  position: absolute;
  top: 30px;
  right: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.offer-modal .avail-part .cls-btn button {
  background-color: #cacaca;
}

@media screen and (max-width: 1100px) and (min-width: 760px) {
  .offer-modal {
    top: 0;
    -webkit-transform: translateY(0%) translateX(-50%);
            transform: translateY(0%) translateX(-50%);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 70%;
  }
  .offer-modal .countdown-part {
    position: relative;
  }
  .offer-modal .avail-part {
    position: static;
  }
  .offer-modal .avail-part .cls-btn button {
    background-color: #404040;
  }
}

@media screen and (max-width: 750px) and (min-width: 260px) {
  .offer-modal {
    top: 0%;
    left: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  .offer-modal .countdown-part {
    position: relative;
  }
  .offer-modal .avail-part {
    position: static;
  }
  .offer-modal .avail-part .cls-btn button {
    background-color: #404040;
  }
}

.query {
  z-index: 999;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.query .visible-content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  background-color: #1BB899;
  border-radius: 10px 0 0 10px;
}

.query .visible-content img {
  height: 30px;
  width: 30px;
}

.query .hidden-content {
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.query .hidden-content .wrap {
  background-color: #1BB899;
}

.query .hidden-content .head {
  text-align: center;
  color: #fff;
  padding: 13px;
}

.query .hidden-content .contact-info {
  color: #1BB899;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.query .hidden-content .contact-info .icon {
  font-size: 35px;
  margin-right: 20px;
  color: #1BB899;
}

.query .hidden-content .form {
  padding: 10px 15px;
}

.query .hidden-content .form > * {
  margin: 6px;
  position: relative;
}

.query .hidden-content .form label {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.query .hidden-content .form label p {
  color: #777777;
}

.query .hidden-content .form .intTel-field input::-webkit-input-placeholder {
  color: #777777;
}

.query .hidden-content .form .intTel-field input:-ms-input-placeholder {
  color: #777777;
}

.query .hidden-content .form .intTel-field input::-ms-input-placeholder {
  color: #777777;
}

.query .hidden-content .form .intTel-field input::placeholder {
  color: #777777;
}

.query .hidden-content .form input.email::-webkit-input-placeholder,
.query .hidden-content .form textarea.text-area::-webkit-input-placeholder {
  color: transparent !important;
}

.query .hidden-content .form input.email:-ms-input-placeholder,
.query .hidden-content .form textarea.text-area:-ms-input-placeholder {
  color: transparent !important;
}

.query .hidden-content .form input.email::-ms-input-placeholder,
.query .hidden-content .form textarea.text-area::-ms-input-placeholder {
  color: transparent !important;
}

.query .hidden-content .form input.email::placeholder,
.query .hidden-content .form textarea.text-area::placeholder {
  color: transparent !important;
}

.query .hidden-content .form input.email:focus + label,
.query .hidden-content .form input.email:not(:placeholder-shown) + label {
  background-color: #fff;
  left: 15px;
  -webkit-transform: translateY(-110%) translateX(-15%) scale(0.7);
          transform: translateY(-110%) translateX(-15%) scale(0.7);
}

.query .hidden-content .form .text-field label {
  top: 25%;
}

.query .hidden-content .form textarea.text-area:focus + label,
.query .hidden-content .form textarea.text-area:not(:placeholder-shown) + label {
  background-color: #fff;
  left: 15px;
  -webkit-transform: translateY(-80%) translateX(-15%) scale(0.7);
          transform: translateY(-80%) translateX(-15%) scale(0.7);
}

.query .hidden-content .form input.email, .query .hidden-content .form textarea.text-area, .query .hidden-content .form button {
  width: 100%;
}

.query .hidden-content .form input.email, .query .hidden-content .form textarea {
  padding-top: 20px;
  padding-bottom: 6px;
  font-size: 18px;
}

.query .hidden-content .form button {
  padding: 5px 10px;
}

.query .active-query {
  max-width: 40em;
}

footer .upper-part {
  background: #262626;
  color: #fff;
  padding: 5px 80px;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  footer .upper-part {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  footer .upper-part {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  footer .upper-part {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

footer .upper-part .join-part {
  padding-left: 20px;
}

footer .upper-part .join-part > * {
  margin-bottom: 15px;
}

footer .upper-part .join-part .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

footer .upper-part .join-part .logo .logo-img {
  margin-right: 10px;
}

footer .upper-part .join-part .logo .logo-img img {
  width: 65px;
  height: 65px;
}

footer .upper-part .join-part table td {
  padding-right: 10px;
  text-align: left;
}

footer .upper-part .pages-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-row-align: center;
      align-self: center;
  justify-items: center;
}

footer .upper-part .pages-part .title {
  margin-bottom: 15px;
}

footer .upper-part .pages-part .pages {
  display: -ms-grid;
  display: grid;
}

footer .upper-part .pages-part .pages p {
  margin-bottom: 5px;
  cursor: pointer;
}

footer .lower-part {
  background: #111111;
  color: #fff;
  padding: 5px 150px;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  footer .lower-part {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  footer .lower-part {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  footer .lower-part {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

footer .lower-part p {
  font-size: 14px;
}

footer .lower-part .terms-privacy {
  -ms-grid-column-align: center;
      justify-self: center;
}

footer .lower-part .logos {
  -ms-grid-column-align: end;
      justify-self: end;
}

footer .lower-part .logos img {
  margin: 0 5px;
}

@media screen and (max-width: 650px) and (min-width: 501px) {
  footer .upper-part {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  footer .upper-part .join-part {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  footer .lower-part {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "rights rights" "policy logo";
    grid-gap: 10px;
  }
  footer .lower-part .rights {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: rights;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  footer .lower-part .terms-privacy {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  footer .lower-part .logos {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media screen and (max-width: 500px) and (min-width: 270px) {
  footer .upper-part {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  footer .upper-part .join-part {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  footer .lower-part {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  footer .lower-part .rights, footer .lower-part .terms-privacy {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  footer .lower-part .logos {
    display: none;
  }
}

header {
  background-color: #fff;
  color: #262626;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

header .logo-text {
  color: #262626;
}

header .nav-menu a {
  color: #262626;
}

header .nav-menu a p.medium {
  padding: 10px;
}

header .nav-menu .nav-course a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-menu .nav-course a i {
  font-weight: 500;
  font-size: 14px;
  margin-left: 5px;
  line-height: 100%;
}

header .nav-menu .nav-notification a {
  padding: 0px;
  position: relative;
}

header .nav-menu .nav-notification a i {
  color: #1BB899;
  font-size: 24px;
  padding: 10px;
}

header .nav-menu .nav-notification a .notification-number {
  height: 25px;
  width: 25px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #d82f2f;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  top: -50%;
  right: -45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .nav-menu .nav-notification .dropdown-content {
  white-space: normal !important;
  height: 350px;
  overflow-y: scroll;
  width: 400px !important;
}

header .nav-menu .nav-notification .dropdown-content .notification-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #f3f3f3;
}

header .nav-menu .nav-notification .dropdown-content .notifications {
  padding: 5px 25px;
}

header .nav-menu .nav-notification .dropdown-content .notifications:hover {
  background-color: #f3f3f3;
}

header .nav-menu .nav-profile a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav-menu .nav-profile a .user-name {
  margin-right: 20px;
}

header .nav-menu .nav-profile a .img {
  position: relative;
}

header .nav-menu .nav-profile a .img img {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .nav-menu .nav-profile a .img i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 26px;
  background-color: white;
  display: none;
}

header .nav-menu .dropdown {
  position: relative;
}

header .nav-menu .dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  width: 145px;
  max-width: 500px;
  padding: 5px 0;
  border: 1px solid #cacaca;
}

header .nav-menu .dropdown .dropdown-content a p {
  padding: 5px 25px 5px 15px;
  width: 100%;
}

header .nav-menu .dropdown .dropdown-content a p:hover {
  background-color: #f3f3f3;
}

header .nav-menu .dropdown .show {
  display: block;
}

.subheader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 5px 150px;
  background-color: #1BB899;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  .subheader {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .subheader {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  .subheader {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

.subheader .col-1 .page-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subheader .col-1 .page-link > * {
  padding: 5px;
}

.subheader .col-1 .page-link a {
  color: #fff;
}

.subheader .col-1 .page-link a i {
  padding: 0 5px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
}

.subheader .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subheader .col-2 > * {
  padding: 5px 15px;
}

.subheader .col-2 a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subheader .col-2 a img {
  width: 20px;
  height: 20px;
}

.subheader .col-2 a p {
  margin-left: 10px;
}

footer .upper-part {
  background: #f3f3f3;
  color: #262626;
}

.container .course-title {
  padding: 5px 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f3f3f3;
  border-bottom: 1px solid #cacaca;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  .container .course-title {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .container .course-title {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  .container .course-title {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

.container .course-title .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #262626;
}

.container .course-title .title img {
  width: 80px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 15px;
}

.container .course-title .progression {
  -ms-grid-column-align: end;
      justify-self: end;
}

.container .course-title .progression .progress {
  display: none;
}

.container .course-title .progression .grade {
  position: relative;
}

.container .course-title .progression .grade .visible-content {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  background: #1BB899;
  padding: 5px;
  margin: 0 5px;
  z-index: 10;
}

.container .course-title .progression .grade .visible-content .block-text {
  padding: 0 15px;
}

.container .course-title .progression .grade .visible-content .block-text p {
  color: #fff;
  margin: 5px 0;
}

.container .course-title .progression .grade .visible-content .grade-rank {
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 5px;
  border-radius: 50px;
  background: #12856e;
}

.container .course-title .progression .grade .visible-content .grade-rank h2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 35px;
  height: 35px;
  color: #FFB800;
}

.container .course-title .progression .grade .hidden-content {
  position: absolute;
  top: -5px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  background: #fff;
  padding: 25px;
  padding-top: 70px;
  border-radius: 35px;
  display: none;
  z-index: 10;
}

.container .course-title .progression .grade .hidden-content > * {
  margin: 20px 0;
}

.container .course-title .progression .grade .hidden-content .grade-system {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .course-title .progression .grade .hidden-content .grade-system .grading .grade-rank {
  color: #fff;
}

.container .course-title .progression .grade .hidden-content .grade-system .grading .grade-rank p {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 30px;
  height: 30px;
  margin: 10px auto;
  border-radius: 50px;
  background: #12856e;
}

.container .course-title .progression .grade .hidden-content .grade-system .grading .grade-number {
  color: #12856e;
}

.container .course-title .progression .grade .hidden-content .grade-system .grading .grade-number i {
  font-weight: 400;
  font-size: 12px;
}

.container .course-title .progression .grade:hover .hidden-content {
  display: block;
}

.container .grid-content {
  margin: 0 auto;
  padding: 5px 150px;
  padding-top: 0px;
  padding-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 23.5%;
      grid-template-columns: 75% 23.5%;
  grid-gap: 20px;
  background: #f3f3f3;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  .container .grid-content {
    padding: 5px clamp(40px, 6vw, 60px);
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .container .grid-content {
    padding: 5px clamp(25px, 4vw, 35px);
  }
}

@media screen and (max-width: 501px) and (min-width: 270px) {
  .container .grid-content {
    padding: 5px clamp(15px, 4vw, 25px);
  }
}

.container .grid-content .column-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
}

.container .grid-content .column-left > .tab-head {
  margin-top: 80px;
  width: 100%;
}

.container .grid-content .column-left > .tab-head .tab .tablink {
  padding: 20px;
  color: #12856e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .grid-content .column-left > .tab-head .tab .tablink i {
  font-size: 22px;
}

.container .grid-content .column-left > .tab-head .tab .tablink i::before {
  margin-right: 10px;
}

.container .grid-content .column-left > .tab-head .tab .tablink.active {
  background: #fff;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent {
  min-height: 700px;
  background: #fff;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent > * {
  color: #262626;
  padding: 5px 40px;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent > * > * {
  margin: 10px 0;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .tab-title {
  padding: 20px 40px;
  color: #12856e;
  border-bottom: 1px solid #f3f3f3;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .tab-title i {
  color: #FFB800;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .tab-title i::before {
  margin-right: 5px;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .tab-title h2 {
  margin: 0;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .block-text p.medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #12856e;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent i.far.fa-square {
  font-size: 10px;
  font-weight: 800px;
  margin-right: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .tab-swiper {
  border-bottom: 1px solid #cacaca;
  padding: 15px 40px;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .tab-swiper .swiper-container {
  width: 100%;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .tab-swiper .swiper-container .swiper-wrapper .swiper-slide {
  padding: 5px;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .tab-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-tablink i {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .tab-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-tablink p, .container .grid-content .column-left .tabcontent-wrap .tabcontent .tab-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-tablink i {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 0 auto;
  background: #1BB899;
  border-radius: 50px;
  color: #fff;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .tab-swiper .swiper-container .swiper-button-next, .container .grid-content .column-left .tabcontent-wrap .tabcontent .tab-swiper .swiper-container .swiper-button-prev {
  -webkit-transform: translateX(65%);
          transform: translateX(65%);
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .tab-swiper .swiper-container .swiper-button-next::after, .container .grid-content .column-left .tabcontent-wrap .tabcontent .tab-swiper .swiper-container .swiper-button-prev::after {
  font-size: 20px;
  font-weight: 800;
  color: #1BB899;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .tab-swiper .swiper-container .swiper-button-prev {
  -webkit-transform: translateX(-65%);
          transform: translateX(-65%);
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .swiper-tabcontent > * {
  margin: 15px 0;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .swiper-tabcontent i.fas.fa-stop-circle {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .swiper-tabcontent .title h4 span.bold, .container .grid-content .column-left .tabcontent-wrap .tabcontent .swiper-tabcontent .title h4 i {
  color: #1BB899;
  border-radius: 50px;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .swiper-tabcontent .file {
  padding: 10px 20px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .swiper-tabcontent .file .block-text > * {
  margin: 10px 0;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .swiper-tabcontent .file .block-text p.medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .swiper-tabcontent .file .block-text p.medium i {
  margin-right: 15px;
}

.container .grid-content .column-left .tabcontent-wrap .tabcontent .swiper-tabcontent .file .block-text .view {
  float: right;
  margin: 0 0 0 20px;
}

.container .grid-content .column-left .tabcontent-wrap #tab-video, .container .grid-content .column-left .tabcontent-wrap #class-record {
  padding: 20px 0;
}

.container .grid-content .column-left .tabcontent-wrap #tab-video > *, .container .grid-content .column-left .tabcontent-wrap #class-record > * {
  padding: 20px 40px;
}

.container .grid-content .column-left .tabcontent-wrap #tab-video a, .container .grid-content .column-left .tabcontent-wrap #class-record a {
  padding: 0;
}

.container .grid-content .column-left .tabcontent-wrap #tab-video .tab-title, .container .grid-content .column-left .tabcontent-wrap #class-record .tab-title {
  padding: 20px 40px;
}

.container .grid-content .column-left .tabcontent-wrap #tab-video .video-file, .container .grid-content .column-left .tabcontent-wrap #class-record .video-file {
  padding: 10px 20px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  margin: 20px 40px;
}

.container .grid-content .column-left .tabcontent-wrap #tab-video .video-file p, .container .grid-content .column-left .tabcontent-wrap #class-record .video-file p {
  margin: 10px 0;
}

.container .grid-content .column-left .tabcontent-wrap #personal-library .tab-title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.container .grid-content .column-left .tabcontent-wrap #personal-library .tab-title .library {
  -ms-grid-column-align: end;
      justify-self: end;
}

.container .grid-content .column-left .tabcontent-wrap #personal-library .tab-title .library i {
  font-size: 20px;
  color: #1BB899;
  margin: 0 10px;
}

.container .grid-content .column-left .tabcontent-wrap #personal-library .give-info {
  text-align: center;
}

.container .grid-content .column-left .tabcontent-wrap #personal-library .img img {
  width: 100%;
  height: 100%;
}

.container .grid-content .column-left .tabcontent-wrap #my-lab .give-info {
  margin: 5px 40px;
  text-align: center;
  border-bottom: 1px solid #f3f3f3;
}

.container .grid-content .column-left .tabcontent-wrap #my-lab .devops-lab {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
  padding-bottom: 10px;
  margin: 5px 40px;
  border-bottom: 1px solid #f3f3f3;
}

.container .grid-content .column-left .tabcontent-wrap #my-lab .devops-lab .col-1 > * {
  margin-top: 15px;
}

.container .grid-content .column-left .tabcontent-wrap #my-lab .devops-lab .col-1 a {
  color: #12856e;
}

.container .grid-content .column-left .tabcontent-wrap #my-lab .devops-lab .col-1 a:hover {
  text-decoration: underline;
}

.container .grid-content .column-left .tabcontent-wrap #my-lab .devops-lab .col-2 {
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 5px 30px;
  background: #FAFAFA;
}

.container .grid-content .column-left .tabcontent-wrap #my-lab .devops-lab .col-2 .lab-access > * {
  margin: 10px 0;
  text-align: center;
}

.container .grid-content .column-left .tabcontent-wrap #my-lab .devops-lab .col-2 .lab-access .days {
  color: #12856e;
}

.container .grid-content .column-left .tabcontent-wrap #my-lab .support-ticket {
  text-align: center;
}

.container .grid-content .column-left .tabcontent-wrap #my-lab .support-ticket a {
  color: #12856e;
}

.container .grid-content .column-left .tabcontent-wrap #my-lab .support-ticket a:hover {
  text-decoration: underline;
}

.container .grid-content .column-right > * {
  background: #fff;
}

.container .grid-content .column-right .how-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  margin: 20px 0;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.container .grid-content .column-right .how-to img {
  padding-right: 10px;
}

.container .grid-content .column-right .how-to p.small {
  font-size: 14px;
}

.container .grid-content .column-right .upcoming-class {
  margin: 20px 0;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.container .grid-content .column-right .upcoming-class .title {
  padding: 10px 20px;
  border-bottom: 1px solid #f3f3f3;
}

.container .grid-content .column-right .upcoming-class .classes {
  position: relative;
}

.container .grid-content .column-right .upcoming-class .classes .class-time {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.container .grid-content .column-right .upcoming-class .classes .class-time > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .grid-content .column-right .upcoming-class .classes .class-time > * .time {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.container .grid-content .column-right .upcoming-class .classes .class-time > * i {
  color: #1BB899;
  font-size: 18px;
  padding-right: 10px;
}

.container .grid-content .column-right .upcoming-class .classes .join {
  color: #1BB899;
  background-color: #f3f3f3;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .grid-content .column-right .upcoming-class .classes:hover .join {
  opacity: 1;
}

.container .grid-content .column-right .preview-certificate {
  padding: 10px 20px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.container .grid-content .column-right .preview-certificate .btn {
  margin-top: 10px;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}

.swiper-tabcontent.active {
  display: block;
}
/*# sourceMappingURL=certification-training.css.map */