* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

hr.black-hr {
  height: 0.3px;
  background: rgba(112, 112, 112, 0.5);
  border: none;
  margin: 20px 0;
}

h1.black {
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 1em;
}

h1.bold {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1em;
  letter-spacing: -0.03em;
}

h1.medium {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 36px;
}

h1.regular {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
}

h2.black {
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  font-size: 24px !important;
  line-height: 1em;
}

h2.bold {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1em;
}

h2.medium {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

h2.regular {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

h3.black {
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 1.2em;
}

h3.bold {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2em;
}

h3.medium {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

h3.regular {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
}

h4.black {
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.5em;
}

h4.bold {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: -0.03em;
}

h4.medium {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5em;
}

h4.regular {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
}

h4.light {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: -0.01em;
}

h4.black-small {
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.5em;
}

h4.bold-small {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: -0.03em;
}

h4.medium-small {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5em;
}

h4.regular-small {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
}

h4.light-small {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: -0.01em;
}

p.bold {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5em;
}

p.medium {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5em;
}

p.regular {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
}

p.light {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
}

p.black-small {
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.2em;
}

p.bold-small {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2em;
}

p.medium-small {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5em;
}

p.regular-small {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
}

p.light-small {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}

button {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

button.grad-bg-btn {
  color: #fff;
  border: 3px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#CC2B5E), color-stop(50%, #F48400), to(#CC2B5E));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #CC2B5E 0%, #F48400 50%, #CC2B5E 100%);
  background-size: 200% auto;
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px transparent inset;
          box-shadow: 2px 1000px 1px transparent inset;
}

button.grad-bg-btn:hover {
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: right center;
}

button.solid-bg-btn {
  color: #fff;
  border: 3px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#1BB899), color-stop(15%, #1BB899), to(#1B9CB8));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #1BB899 0%, #1BB899 15%, #1B9CB8 100%);
  background-size: 200% auto;
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px transparent inset;
          box-shadow: 2px 1000px 1px transparent inset;
}

button.solid-bg-btn:hover {
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: right center;
}

button.neomor-btn {
  background-color: #f3f3f3;
  color: #404040;
  -webkit-box-shadow: -3px -3px 5px white, 3px 3px 5px #c8c8c8;
          box-shadow: -3px -3px 5px white, 3px 3px 5px #c8c8c8;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

button.neomor-btn:hover {
  -webkit-box-shadow: -7px -7px 10px white, 5px 5px 10px 1px #c8c8c8;
          box-shadow: -7px -7px 10px white, 5px 5px 10px 1px #c8c8c8;
  color: #262626;
}

button.neomor-btn:active {
  -webkit-box-shadow: -2px -2px 2px white, 2px 2px 2px #c8c8c8;
          box-shadow: -2px -2px 2px white, 2px 2px 2px #c8c8c8;
}

button.rounded-btn {
  border-radius: 50%;
  padding: 10px;
  border: none;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

input,
textarea {
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  outline: none;
  border: 0.5px solid transparent;
  padding: 10px 15px;
  resize: none;
  background-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  background-color: #fafafa;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  -webkit-text-fill-color: #000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-color: #cacaca;
  -webkit-text-fill-color: #000;
}

.input-style-one {
  border-radius: 6px;
}

.input-style-two {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  border-radius: 4px;
  border-color: #cacaca;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.input-style-two:hover,
.input-style-two:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.input-search-modal {
  background: transparent;
  outline: none;
  border-bottom: 0.5px solid #FAFAFA;
  width: 100%;
  color: #FAFAFA;
  padding: 10px 40px;
}

.input-search-modal::-webkit-input-placeholder {
  color: #cecece;
}

.input-search-modal:-ms-input-placeholder {
  color: #cecece;
}

.input-search-modal::-ms-input-placeholder {
  color: #cecece;
}

.input-search-modal::placeholder {
  color: #cecece;
}

label {
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

section.offer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#CC2B5E), to(#F48400));
  background: linear-gradient(to right, #CC2B5E 0%, #F48400 100%);
  padding: 5px 80px;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  z-index: 2;
}

section.offer .title {
  -ms-grid-column-align: end;
      justify-self: end;
}

section.offer .countdown {
  -ms-grid-column-align: start;
      justify-self: start;
}

section.offer .countdown span {
  padding: 5px 8px;
  border-radius: 4px;
  background: rgba(43, 43, 43, 0.25);
}

section.offer .open-btn {
  text-decoration: underline;
  cursor: pointer;
}

section.offer .cls-btn {
  -ms-grid-column-align: end;
      justify-self: end;
}

section.offer .cls-btn button {
  border-radius: 50%;
  padding: 6px;
  border: none;
  background: rgba(43, 43, 43, 0.25);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #262626;
  color: #fff;
  padding: 5px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30% auto;
      grid-template-columns: auto 30% auto;
  grid-gap: 10px;
  z-index: 999;
}

header a {
  color: #fff;
}

header > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo > * {
  margin: 0 5px;
}

header .logo > * img {
  width: 65px;
  height: 65px;
}

header .search-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  margin-left: 15px;
}

header .search-bar input {
  width: 100%;
  border-radius: 4px 0 0 4px;
}

header .search-bar button {
  width: 100%;
  height: 45.5px;
  border-radius: 0 4px 4px 0;
  border: none;
}

header .nav-menu {
  -ms-grid-column-align: end;
      justify-self: end;
}

header .nav-menu > * {
  margin: 0 10px;
}

header .nav-menu button {
  color: #fff;
  border: 3px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#CC2B5E), color-stop(50%, #F48400), to(#CC2B5E));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #CC2B5E 0%, #F48400 50%, #CC2B5E 100%);
  background-size: 200% auto;
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #262626 inset;
          box-shadow: 2px 1000px 1px #262626 inset;
}

header .nav-menu button:hover {
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: right center;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  display: none;
}

.modal {
  background-color: #fff;
  margin: 0 auto;
}

.search-modal {
  width: 100%;
  height: 100vh;
}

.modal-header {
  padding: 5px 80px;
  padding-bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#24243E), color-stop(50%, #302B63), to(#24243E));
  background: linear-gradient(to right, #24243E 0%, #302B63 50%, #24243E 100%);
  color: #fff;
}

.modal-header .upper-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.8fr 1fr;
      grid-template-columns: 1fr 1.8fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 40px;
}

.modal-header .upper-part .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-header .upper-part .logo .logo-img img {
  width: 65px;
  height: 65px;
}

.modal-header .upper-part .logo .logo-text h2 {
  font-family: gothamBlack;
}

.modal-header .upper-part .search-field {
  position: relative;
}

.modal-header .upper-part .search-field svg {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-header .upper-part .cls-btn {
  -ms-grid-column-align: end;
      justify-self: end;
}

.modal-header .lower-part {
  padding: 20px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-header .lower-part .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-header .lower-part .tab .tablink {
  font-family: gothamRegular;
  margin-right: 40px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #cacaca;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  cursor: pointer;
}

.modal-header .lower-part .tab .tablink:hover {
  color: #fff;
}

.modal-header .lower-part .tab .tablink.active {
  color: #fff;
  border-bottom: 3px solid;
  border-color: #fff;
}

.modal-header .lower-part .hamburger {
  padding-bottom: 10px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.search-modal .tabcontent {
  padding: 5px 80px;
  display: none;
}

.search-modal .tabcontent p {
  margin: 5px 0;
  line-height: 1.2em;
}

.search-modal .tabcontent .view-more p {
  margin: 10px 0;
  font-family: gothamMedium;
  color: #1BB899;
}

.search-modal .tabcontent.active {
  display: block;
}

.offer-modal {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.offer-modal .countdown-part {
  padding: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#001646), to(#16608b));
  background: linear-gradient(to right, #001646 0%, #16608b 100%);
  color: #fff;
}

.offer-modal .countdown-part .wrap {
  padding: 20px;
  border: 1px dashed #cacaca;
}

.offer-modal .countdown-part .wrap > * {
  margin: 15px 0;
}

.offer-modal .countdown-part .wrap .title h3 {
  font-family: gothamMedium;
  line-height: 1.3em;
}

.offer-modal .countdown-part .wrap .countdown {
  text-align: center;
  padding: 10px 0;
  background: -webkit-gradient(linear, left top, right top, from(#CC2B5E), to(#F48400));
  background: linear-gradient(to right, #CC2B5E 0%, #F48400 100%);
  border-radius: 6px;
}

.offer-modal .countdown-part > .text-content {
  margin: 20px;
}

.offer-modal .avail-part {
  position: relative;
  padding: 40px;
}

.offer-modal .avail-part > * {
  margin: 15px 0;
}

.offer-modal .avail-part .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 15px;
}

.offer-modal .avail-part .title h3 {
  color: #1BB899;
}

.offer-modal .avail-part .form > * {
  margin: 15px 0;
}

.offer-modal .avail-part .form input, .offer-modal .avail-part .form button {
  width: 100%;
}

.offer-modal .avail-part .text-content p {
  font-size: 18px;
}

.offer-modal .avail-part .cls-btn {
  position: absolute;
  top: 30px;
  right: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.offer-modal .avail-part .cls-btn button {
  background-color: #cacaca;
}

.query {
  z-index: 1;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.query .visible-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
  background-color: #1BB899;
  border-radius: 10px 0 0 10px;
}

.query .visible-content img {
  height: 30px;
  width: 30px;
}

.query .hidden-content {
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.query .hidden-content .wrap {
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.query .hidden-content .head {
  text-align: center;
  padding: 5px;
}

.query .hidden-content .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.query .hidden-content .contact-info .icon {
  font-size: 50px;
  margin-right: 20px;
  color: #1BB899;
}

.query .hidden-content .form {
  padding: 20px 30px;
}

.query .hidden-content .form > * {
  margin: 15px;
  position: relative;
}

.query .hidden-content .form label {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #404040;
  pointer-events: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.query .hidden-content .form input::-webkit-input-placeholder,
.query .hidden-content .form textarea::-webkit-input-placeholder {
  color: transparent !important;
}

.query .hidden-content .form input:-ms-input-placeholder,
.query .hidden-content .form textarea:-ms-input-placeholder {
  color: transparent !important;
}

.query .hidden-content .form input::-ms-input-placeholder,
.query .hidden-content .form textarea::-ms-input-placeholder {
  color: transparent !important;
}

.query .hidden-content .form input::placeholder,
.query .hidden-content .form textarea::placeholder {
  color: transparent !important;
}

.query .hidden-content .form input:focus + label,
.query .hidden-content .form input:not(:placeholder-shown) + label,
.query .hidden-content .form textarea:focus + label,
.query .hidden-content .form textarea:not(:placeholder-shown) + label {
  background-color: #fff;
  left: 15px;
  -webkit-transform: translateY(-120%) translateX(-15%) scale(0.7);
          transform: translateY(-120%) translateX(-15%) scale(0.7);
}

.query .hidden-content .form input, .query .hidden-content .form textarea, .query .hidden-content .form button {
  width: 100%;
}

.query .hidden-content .form input, .query .hidden-content .form textarea {
  padding-top: 20px;
  padding-bottom: 6px;
  font-size: 18px;
}

.query .hidden-content .form button {
  padding: 5px 10px;
}

.query .active-query {
  max-width: 40em;
}

footer .upper-part {
  background: #262626;
  color: #fff;
  padding: 40px 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

footer .upper-part .join-part {
  text-align: center;
}

footer .upper-part .join-part > * {
  margin: 15px 0;
}

footer .upper-part .join-part .logo img {
  width: 65px;
  height: 65px;
}

footer .upper-part .join-part h3 {
  font-family: gothamRegular;
}

footer .upper-part .join-part .signup-field label {
  margin-bottom: 10px;
}

footer .upper-part .join-part .signup-field .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  margin: 5px 30px;
}

footer .upper-part .join-part .signup-field .wrapper input {
  border-radius: 4px 0 0 4px;
}

footer .upper-part .join-part .signup-field .wrapper button {
  border-radius: 0 4px 4px 0;
}

footer .upper-part .pages-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-row-align: center;
      align-self: center;
  justify-items: center;
}

footer .upper-part .pages-part .title {
  margin-bottom: 15px;
}

footer .upper-part .pages-part .title p {
  font-family: gothamBold;
}

footer .upper-part .pages-part .pages {
  display: -ms-grid;
  display: grid;
}

footer .upper-part .pages-part .pages p {
  margin-bottom: 5px;
  cursor: pointer;
}

footer .lower-part {
  background: #111111;
  color: #fff;
  padding: 20px 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .lower-part p {
  font-size: 14px;
}

footer .lower-part .terms-privacy {
  -ms-grid-column-align: center;
      justify-self: center;
}

footer .lower-part .logos {
  -ms-grid-column-align: end;
      justify-self: end;
}

footer .lower-part .logos img {
  margin: 0 5px;
}

header {
  background: #FAFAFA;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

header a {
  color: #000;
}

header .search-bar input {
  border-color: #cacaca;
}

header .search-bar button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .nav-menu button {
  color: #000;
  border: 3px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#CC2B5E), color-stop(50%, #F48400), to(#CC2B5E));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #CC2B5E 0%, #F48400 50%, #CC2B5E 100%);
  background-size: 200% auto;
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #FAFAFA inset;
          box-shadow: 2px 1000px 1px #FAFAFA inset;
}

header .nav-menu button:hover {
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: right center;
}

.container .grid-wrapper {
  display: -ms-grid;
  display: grid;
}

.container .grid-wrapper .form-part {
  width: 35%;
  margin: 70px 0;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0 2px rgba(0, 0, 0, 0.3);
}

.container .grid-wrapper .form-part > * {
  padding-top: 20px;
}

.container .grid-wrapper .form-part .title-wrap, .container .grid-wrapper .form-part .using-social-media {
  text-align: center;
}

.container .grid-wrapper .form-part .title-wrap h2.bold, .container .grid-wrapper .form-part .using-social-media h2.bold {
  font-family: "montserrat", sans-serif;
  margin-bottom: 10px;
  color: #262626;
}

.container .grid-wrapper .form-part .title-wrap h4, .container .grid-wrapper .form-part .using-social-media h4 {
  color: #262626;
}

.container .grid-wrapper .form-part .title-wrap {
  background: #fff;
  border-radius: 6px 6px 0 0;
  color: #fff;
  padding: 30px 40px;
}

.container .grid-wrapper .form-part form {
  background-color: #FAFAFA;
  padding: 30px 50px;
  -webkit-box-shadow: 0 3px 4px -4px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0 3px 4px -4px rgba(0, 0, 0, 0.25) inset;
}

.container .grid-wrapper .form-part form input, .container .grid-wrapper .form-part form button {
  width: 100%;
}

.container .grid-wrapper .form-part form label {
  color: #262626;
}

.container .grid-wrapper .form-part form .number-input-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px auto;
      grid-template-columns: 70px auto;
      grid-template-areas: "btn input" "countryCode countryCode";
  border-radius: 6px;
  border: 1px solid #cacaca;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .grid-wrapper .form-part form .number-input-wrap:hover,
.container .grid-wrapper .form-part form .number-input-wrap ~ input:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.container .grid-wrapper .form-part form .number-input-wrap .country-content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: btn;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px 0 0 6px;
  border-right: 1px solid #cacaca;
  background-color: #fff;
  outline: none;
  padding: 10px 0;
}

.container .grid-wrapper .form-part form .number-input-wrap .country-content h4 {
  margin-right: 5px;
}

.container .grid-wrapper .form-part form .number-input-wrap input[type="number"] {
  margin: unset;
  width: 100%;
  padding: 10px 16px 10px 16px;
  border-radius: 0 5px 5px 0;
}

.container .grid-wrapper .form-part form .number-input-wrap .input-wrap {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: input;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  border-radius: 0 6px 6px 0;
}

.container .grid-wrapper .form-part form .number-input-wrap .input-wrap .input-text {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: white;
  color: black;
  height: 100%;
  padding: 10px 12px;
  text-align: center;
  border-right: 1px solid #cacaca;
}

.container .grid-wrapper .form-part form .number-input-wrap .country-code-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: countryCode;
  position: relative;
  color: black;
  display: none;
}

.container .grid-wrapper .form-part form .number-input-wrap .country-code-container .country-number-code {
  background-color: white;
  position: absolute;
  /* display: none; */
  /* width:21.8vw; */
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  margin-top: 5px;
  /* overflow: hidden;
                            
                            overflow-y: scroll;
                            overflow: hidden;
                            overflow-x: hidden; */
}

.container .grid-wrapper .form-part form .number-input-wrap .country-code-container .country-number-code .searchbar-container {
  width: 100%;
}

.container .grid-wrapper .form-part form .number-input-wrap .country-code-container .country-number-code .searchbar-container .search-bar i {
  position: absolute;
  font-size: 20px;
  padding: 14px;
  font-weight: 400;
  pointer-events: none;
}

.container .grid-wrapper .form-part form .number-input-wrap .country-code-container .country-number-code .searchbar-container .search-bar input {
  width: 100%;
  margin: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-radius: 6px;
  padding-left: 45px;
  background-color: #FAFAFA;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset;
}

.container .grid-wrapper .form-part form .number-input-wrap .country-code-container .country-number-code .country-list {
  height: 120px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container .grid-wrapper .form-part form .number-input-wrap .country-code-container .country-number-code .country-list ul {
  padding: 8px 5px;
  list-style-type: none;
}

.container .grid-wrapper .form-part form .number-input-wrap .country-code-container .country-number-code .country-list li {
  padding: 8px 0px;
}

.container .grid-wrapper .form-part form .number-input-wrap .toggle-country-code {
  display: block;
}

.container .grid-wrapper .form-part form .password-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 15px;
}

.container .grid-wrapper .form-part form .checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
}

.container .grid-wrapper .form-part form .checkbox-field label.checkbox-container {
  font-size: 14px;
}

.container .grid-wrapper .form-part form .checkbox-field label.checkbox-container a {
  font-family: gothamMedium;
  font-size: 14px;
  color: #000;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.container .grid-wrapper .form-part form .checkbox-field label.checkbox-container a:hover {
  color: #404040;
  opacity: 0.8;
}

.container .grid-wrapper .form-part form > * {
  margin-bottom: 15px;
}

.container .grid-wrapper .form-part .using-social-media {
  padding-top: 0px;
  background-color: #FAFAFA;
}

.container .grid-wrapper .form-part .using-social-media .social-logo img {
  padding: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .grid-wrapper .form-part .using-social-media .social-logo img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container .grid-wrapper .form-part .goto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  background-color: #FAFAFA;
}

.container .grid-wrapper .form-part .goto h4 {
  margin-right: 10px;
}

.container .grid-wrapper .form-part .goto a {
  color: #262626;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.container .grid-wrapper .form-part .goto a:hover {
  opacity: 0.8;
}

.signin-container .grid-wrapper .form-part .forget-pass {
  background-color: #FAFAFA;
  text-align: center;
  padding: 0 0 15px 0;
}

.signin-container .grid-wrapper .form-part .forget-pass p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #404040;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #1BB899;
  border: 1px solid #1BB899;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 4px;
  top: -1px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  /* border-radius: 3px; */
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*# sourceMappingURL=signing.css.map */