input, textarea
{
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    outline: none;
    box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.40) inset;
    resize: none;
}