h1
{
    font-family: gothamBold;
    font-size: 36px;
    letter-spacing: -0.04em;
}
h2
{
    font-family: gothamBold;
    font-size: 26px;

}
h3
{
    font-family: gothamMedium;
    font-size: 22px;
}
h4
{
    font-family: gothamMedium;
    font-size: 20px;
}
p
{
    font-family: gothamRegular;
    font-size: 20px;
}
a
{
    font-family: gothamRegular;
    font-size: 20px;
}
small
{
    font-family: gothamRegular;
    font-size: 18px;
}

hr.black-hr
{
    height: 0.3px;
    background: rgba($color: #707070, $alpha: 0.5);
    border: none;
    margin: 20px 0;
}