footer
{
    .upper-part
    {
        background: $secondaryBlackclr;
        color: $primaryWhiteClr;
        padding: 40px 80px;
        display: grid;
        grid-template-columns: 1fr 2fr;

        .join-part
        {
            text-align: center;

            > *
            {
                margin: 15px 0;
            }
            .logo
            {
                img 
                {
                    width: 65px;
                    height: 65px;
                }
                .logo-text 
                {
                    h2 
                    {
                        font-family: gothamBlack;

                    }
                }
            }
            h3
            {
                font-family: gothamRegular;
            }
            .signup-field
            {
                label
                {
                    margin-bottom: 10px;
                }
                .wrapper
                {
                    display: grid;
                    grid-template-columns: 80% 20%;
                    margin: 5px 30px;

                    input 
                    {
                        border-radius: 4px 0 0 4px;
                    }
                    button
                    {
                        border-radius: 0 4px 4px 0;
                    }
                }

            }
        }
        .pages-part
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-self: center;
            justify-items: center;

            .title
            {
                margin-bottom: 15px;
                p
                {
                    font-family: gothamBold;
                }
            }
            .pages 
            {
                display: grid;

                small
                {
                    margin-bottom: 5px;
                    cursor: pointer;
                }
            }
        }
    }
    .lower-part
    {
        background: rgb(17, 17, 17);
        color: $primaryWhiteClr;
        padding: 20px 150px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;

        small
        {
            font-size: 14px;
        }
        .terms-privacy
        {
            justify-self: center;
        }
        .logos
        {
            justify-self: end;

            img 
            {
                margin: 0 5px;
            }
        }
    }
}