footer
{
    .upper-part
    {
        background: $secondaryBlackclr;
        color: $primaryWhiteClr;
        @include primarySectionPadding();
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        display: grid;
        grid-template-columns: 2fr 1fr;

        .join-part
        {
            // text-align: center;
            padding-left: 20px;

            > *
            {
                margin-bottom: 15px ;
            }
            .logo
            {
                display: flex;
                // justify-content: center;
                align-items: center;
                margin: 0 auto;
                
                .logo-img
                {
                    margin-right: 10px;
                    img 
                    {
                        width: 65px;
                        height: 65px;
                    }
                }
                
            }
            
            table 
            {
                
                
                // margin-left: -10%;
                td 
                {
                    padding-right: 10px;
                    text-align: left;
                }
            }
        }
        .pages-part
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-self: center;
            justify-items: center;

            .title
            {
                margin-bottom: 15px;
                
            }
            .pages 
            {
                display: grid;

                p 
                {
                    
                    margin-bottom: 5px;
                    cursor: pointer;
                }
            }
        }
    }
    .lower-part
    {
        background: rgb(17, 17, 17);
        color: $primaryWhiteClr;
        @include secondarySectionPadding(); 
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;

        p
        {
            font-size: 14px;
        }
        .terms-privacy
        {
            justify-self: center;
        }
        .logos
        {
            justify-self: end;

            img 
            {
                margin: 0 5px;
            }
        }
    }
}

@media screen and (max-width:650px) and (min-width: 501px)
{
    footer 
    {
        .upper-part
        {
            grid-template-columns: 1fr;
            grid-gap: 30px;


            .join-part
            {
                justify-self: center;
            }
        }
        .lower-part
        {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:  
            "rights rights"
            "policy logo";
            grid-gap: 10px;
            .rights 
            {
                grid-area: rights;
                justify-self: center;
                text-align: center;
            }
            .terms-privacy
            {
                grid-area: policy;
                justify-self: start;
            }
            .logos
            {
                grid-area: logo;
                justify-self: end;

                
            }
            
            
        }
    }
}


@media screen and (max-width:500px) and (min-width: 270px)
{
    footer 
    {
        .upper-part
        {
            grid-template-columns: 1fr;
            grid-gap: 30px;


            .join-part
            {
                justify-self: center;
            }
        }
        .lower-part
        {
            grid-template-columns: 1fr;
            grid-gap: 10px;
            .rights, .terms-privacy
            {
                justify-self: center;
                text-align: center;
            }
            
            .logos
            {
                display: none;
            }
        }
    }
}