header
{
    position: sticky;
    top: 0;
    background: $primaryWhiteClr;
    color: $primaryBlackClr;
    padding: 5px 50px;
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-gap: 10px;
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.25);
    z-index: 999;

    a
    {
        color: $primaryBlackClr;
    }
    > *
    {
        display: flex;
        align-items: center;
    }
    .logo
    {
        display: flex;
        align-items: center;

        > * 
        {
            margin: 0 5px;

            
            
        }

        .logo-img
        {
            margin-left: 0;
            img 
            {
                width: 60px;
                height: 60px;
            }
        }

        .logo-text 
        {
            white-space: nowrap;
        }

    }
    
    .search-bar
    {
        display: grid;
        grid-template-columns: 85% 15%;
        align-items: center;
        margin-left: 15px;
        input 
        {
            width: 100%;
            border-radius: 4px 0 0 4px;
            border-right: 1px solid transparent;
            padding: 7px 15px;

            &:hover, &:focus 
            {
                box-shadow: unset;
            }
        }
        button 
        {
            width: 100%;
            height: 35px;
            padding: 7px;
            border-radius: 0 4px 4px 0;
            border: 1px solid $thirdWhiteClr;
            background-color: $forthWhiteClr;

            &:hover 
            {
                background-color: $thirdWhiteClr;
            }
        }
    }
    .nav-menu
    {
        justify-self: end;
        

        > *
        {
            margin: 0 10px;
            white-space: nowrap;
        }
        
        a[href='/sign-up']
        {
            margin-right: 0;
        }
    }
    .responsive-navbtn
    {
        display: none;
        .btn 
        {
            padding: 5px;
            border-radius: 50px;
            background: $thridBlackClr;
            display: flex;
            align-items: center;
        }
    }
}
.responsive-content
{
    // display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    z-index: 9999;
    // @include primarySectionPadding();
    background-color: $primaryWhiteClr;
    transition: 0.3s;
    box-shadow: -1px 0 2px rgba($color: #000000, $alpha: 0.20);

    > *
    {
        padding: 10px 30px;
    }
    .head
    {
        padding: 15px 30px;
        background-color: $forthWhiteClr;
        border-bottom: 1px solid $thirdWhiteClr;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        .title
        {
            
            width: fit-content;
        }
        .cls-btn 
        {
            justify-self: end;

            button
            {
                background-color: $thirdWhiteClr;
                padding: 5px;
            }
        }
    }
    .responsive-menu
    {
        button
        {
            width: 100%;
        }
        
    }
    
}

.responsive-content.show-navcontent
{
    width: 50vw;
}
@media screen and (max-width:1500px) and (min-width: 1101px)
{
    header.header 
    {
        padding: 5px clamp(25px, 2.5vw, 40px);
        grid-template-columns: min-content auto min-content;
        
    }
}
@media screen and (max-width:1100px) and (min-width: 801px)
{
    // padding: 5px clamp(40px, 6vw, 60px);
    header.header
    {
        padding: 10px clamp(25px, 3.5vw, 40px);

        grid-template-columns: auto auto;
        grid-template-areas:  
        "logo nav"
        "search search";
        grid-gap: 5px;

        .logo
        {
            grid-area: logo;
            img
            {
                width: 50px;
                height: 50px;
            }
        }
        .search-bar
        {
            margin-left: 0;
            grid-area: search;
            grid-template-columns: 90% 10%;
        }
        .nav-menu
        {
            grid-area: nav;
        }
        
    }
}



@media screen and (max-width:800px) and (min-width: 501px)
{
    header.header
    {
        padding: 10px clamp(25px, 3.5vw, 40px);

        grid-template-columns: auto auto;
        grid-template-areas:  
        "logo nav"
        "search search";
        grid-gap: 5px;

        .logo
        {
            grid-area: logo;
            img
            {
                width: 50px;
                height: 50px;
            }
        }
        .search-bar
        {
            margin-left: 0;
            grid-area: search;
            grid-template-columns: 90% 10%;
        }
        .nav-menu
        {
            display: none;
        }
        .responsive-navbtn
        {
            display: block;
            grid-area: nav;
            justify-self: end;
            align-self: center;
        }
    }
}


@media screen and (max-width:500px) and (min-width: 270px)
{
    header.header
    {
        padding: 10px clamp(15px, 4vw, 25px);

        grid-template-columns: auto auto;
        grid-template-areas:  
        "logo nav"
        "search search";
        grid-gap: 5px;

        .logo
        {
            grid-area: logo;
            img
            {
                width: 50px;
                height: 50px;
            }
        }
        .search-bar
        {
            margin-left: 0;
            grid-area: search;
            grid-template-columns: 85% 15%;
        }
        .nav-menu
        {
            display: none;
        }
        .responsive-navbtn
        {
            display: block;
            grid-area: nav;
            justify-self: end;
            align-self: center;
        }
    }
    .responsive-content.show-navcontent
    {
        width: 70vw;
    }
}

@media screen and (max-width:400px) and (min-width: 270px)
{
    header.header
    {
        padding: 10px clamp(15px, 4vw, 25px);

        grid-template-columns: auto auto;
        grid-template-areas:  
        "logo nav"
        "search search";
        grid-gap: 5px;

        .logo
        {
            grid-area: logo;
            img
            {
                width: 50px;
                height: 50px;
            }
        }
        .search-bar
        {
            margin-left: 0;
            grid-area: search;
            grid-template-columns: 85% 15%;
            
            
        }
        .nav-menu
        {
            display: none;
        }
        .responsive-navbtn
        {
            display: block;
            grid-area: nav;
            justify-self: end;
            align-self: center;
        }
    }
}


// dashboard header 

