.modal-bg
{
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    // overflow: hidden;
    display: none;
    // display: block;
    
}

.modal 
{
    background-color: $primaryWhiteClr;
    margin: 0 auto;
    
}


.search-modal
{
    width: 100%;
    height: 100vh;
}

.modal-header
{
    @include secondarySectionPadding();
    padding-bottom: 0;
    background: $secondaryGradClr;
    color: $primaryWhiteClr;

    .upper-part
    {
        display: grid;
        grid-template-columns: 65px 1.8fr 1fr;
        grid-template-areas:  
        "logo search cls"
        ". tabs tabs";
        
        // grid-template-columns: auto auto auto;
        align-items: center;
        grid-gap: 30px;


        .logo
        {
            grid-area: logo;
            display: grid;
            justify-content: end;
            grid-gap: 10px;
            align-content: center;
            
            .logo-img 
            {
                
                img 
                {
                    width: 65px;
                    height: 65px;
                }
            }
            .logo-text
            {
                h2 
                {
                    font-family: gothamBlack;
                }
            }
        }
        .search-field
        {

            grid-area: search;
            position: relative;
            svg
            {
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translate(-50%, -50%);
            }
        }
        .cls-btn
        {
            grid-area: cls;
            justify-self: end;
            
            button 
            {
                background-color: transparent;
                border: 2px solid $primaryWhiteClr;
                padding: 5px;
            }
        }
        .tab
        {
            grid-area: tabs;
            display: flex;

            .tablink 
            {
                
                margin-right: 40px;
                transition: 0.3s ease-in-out;
                color: $thirdWhiteClr;
                padding-bottom: 5px;
                border-bottom: 3px solid transparent;
                
                cursor: pointer;

                &:hover
                {
                    color: $primaryWhiteClr;
                }
            }
            
            .tablink.active 
            {
                color: $primaryWhiteClr;
                border-bottom: 3px solid;
                border-color: $primaryWhiteClr;
            }
        }
    }



}

.search-modal
{
    .tabcontent-wrap
    {
        @include secondarySectionPadding();
        display: grid;
        grid-template-columns: 65px auto;
        grid-gap: 30px;
        grid-template-areas: ". tabcontent";
        .tabcontent
        {
            grid-area: tabcontent;
            background-color: $primaryWhiteClr;
            // 
            display: none;

            p
            {
                margin: 15px 0;
                line-height: 1.2em;
            }
            .view-more
            {
                h5
                {
                    margin: 20px 0;
                    
                    color: $secondarySolidClr;
                }
            }
        }
        .tabcontent.active 
        {
            display: block;
        }
    }
}

// .offer-modal-bg
// {
//     display: block;
// }

.offer-modal
{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;

    .countdown-part
    {
        padding: 20px;
        background: linear-gradient(to right, #001646 0%, #16608b 100%);
        color: $primaryWhiteClr;
        .wrap
        {
            padding: 20px;
            border: 1px dashed $thirdWhiteClr;
            >* 
            {
                margin: 15px 0;
            }
            .title
            {
                h4
                {
                    // font-family: gothamMedium;
                    line-height: 1.3em;
                }

            }
            .countdown 
            {
                text-align: center;
                padding: 10px 0;
                background: $primaryGradClr;
                border-radius: 6px;

                
            }

            
        }
        > .text-content
        {
            margin: 20px;
            
            
        }
    }
    .avail-part
    {
        position: relative;
        padding: 40px;

        > *
        {
            margin: 15px 0;
        }
        .title
        {
            display: flex;
            align-items: center;
            grid-gap: 15px;
            color: $secondarySolidClr;
            display: flex;
            align-items: center;
        }
        .form 
        {
            > *
            {
                margin: 15px 0;
            }
            input,button 
            {
                width: 100%;
            }
        }
        
        .cls-btn
        {
            position: absolute;
            top: 30px;
            right: 10px;
            
            transform: translate(-50%, -50%);

            button.rounded-btn 
            {
                background-color: $thirdWhiteClr;
                padding: 5px !important;

                &:hover 
                {
                    background-color: $forthBlackClr;
                }
            }
        }
    }

}

.prview-modal-bg
{
    
    overflow-y: scroll;
}

.preview-modal 
{
    background-color: $primaryWhiteClr;
    margin: 0 auto;
    
}
.preview-modal
{
    width: 45vw;
    margin-top: 8em;
    margin-bottom: 6em;
    // padding: 30px;
    position: relative;

    .preview-cls-btn
    {
        position: absolute;
        top: 30px;
        right: 30px;
        
        // padding: 10px;
        border-radius: 50px;
        
        svg
        {
            margin: 10px;
            border-radius: 50px;
            padding: 5px;
            
            path 
            {
                stroke: $primaryBlackClr;
            }
            &:hover
            {

                background-color: $thirdWhiteClr;
            }
        }
        
        
    }

    .modal-title
    {
        
        padding: 30px 30px 10px;
        > *
        {
            padding-bottom: 10px;
        }
    }

    .preview-video 
    {
        padding: 0px 30px;
        width: 100%;

        video 
        {
            width: 100%;
        }
    }

    .sample-video
    {
        padding: 20px 0 00px;
        
        .title
        {
            padding: 0 30px;
        }

        .video-list 
        {
            .sample 
            {
                padding: 10px 30px;
                border-bottom: 1px solid $thirdWhiteClr;
                a
                {
                    display: grid;
                    grid-template-columns: 80px auto min-content;
                    grid-gap: 20px;
                    align-items: center;

                    .img
                    {
                        width: 100%;
                        height: 100%;

                        img
                        {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                &:hover 
                {
                    background-color: $secondaryWhiteClr;
                }
            }
            .sample.active 
            {
                background-color: $forthWhiteClr;
            }
        }
    }
}


@media screen and (max-width:1100px) and (min-width: 760px)
{
    .search-modal
    {
        .modal-header
        {
            .upper-part
            {
                // grid-template-columns: repeat(3, auto);
                .logo
                {
                    .logo-text
                    {
                        display: none;
                    }
                }
            
                .tab 
                {
                    
                    .tablink:nth-of-type(5),
                    .tablink:nth-of-type(6)
                    {
                        display: none;
                    }
                }
            }
        }
    }

    .offer-modal
    {
        top: 0;
        transform: translateY(0%) translateX(-50%);

        grid-template-columns: 1fr;
        width: 70%;

        .countdown-part
        {
            position: relative;

        }

        .avail-part
        {
            position: static;

            .cls-btn
            {
                button 
                {
                    background-color: $thridBlackClr;
                }
            }
        }
    }
    
    
}



@media screen and (max-width:750px) and (min-width: 260px)
{
    .search-modal
    {
        .modal-header
        {
            .upper-part
            {
                grid-template-columns: repeat(3, auto);
                .logo
                {
                    .logo-text
                    {
                        display: none;
                    }
                }
            
                .tab 
                {
                    .tablink:nth-of-type(4),
                    .tablink:nth-of-type(5),
                    .tablink:nth-of-type(6)
                    {
                        display: none;
                    }
                }
            }
        }
    }


    .offer-modal
    {
        top: 0%;
        left: 0;
        grid-template-columns: 1fr;
        width: 100%;
        transform: translate(0%,0%);

        .countdown-part
        {
            position: relative;

        }

        .avail-part
        {
            position: static;

            .cls-btn
            {
                button 
                {
                    background-color: $thridBlackClr;
                }
            }
        }
    }
}



@media screen and (max-width:550px) and (min-width: 270px)
{
    .search-modal
    {
        .modal-header
        {
            .upper-part
            {
                grid-template-columns: repeat(2, auto);
                .logo
                {
                    display: none;
                }
            
                .tab 
                {
                    .tablink
                    {
                        margin-right: 10px;
                    }
                    .tablink:nth-of-type(3),
                    .tablink:nth-of-type(4),
                    .tablink:nth-of-type(5),
                    .tablink:nth-of-type(6)
                    {
                        display: none;
                    }
                }
                // .hamburger
                // {
                //     justify-self: center;
                // }
            }
        }
        .tabcontent-wrap
        {
            grid-template-columns: auto;
            grid-template-areas: "tabcontent";

            .tabcontent
            {
                padding: 0 0 0 40px;
            }
        }
    }
}