.modal-bg
{
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    // overflow: hidden;
    display: none;
    // display: block;
    
}

.modal 
{
    background-color: $primaryWhiteClr;
    margin: 0 auto;
    
}


.search-modal
{
    width: 100%;
    height: 100vh;
}

.modal-header
{
    @include primarySectionPadding();
    padding-bottom: 0;
    background: $secondaryGradClr;
    color: $primaryWhiteClr;

    .upper-part
    {
        display: grid;
        grid-template-columns: 1fr 1.8fr 1fr;
        // grid-template-columns: auto auto auto;
        align-items: center;
        grid-gap: 40px;


        .logo
        {
            display: flex;
            grid-gap: 10px;
            align-items: center;

            .logo-img 
            {
                img 
                {
                    width: 65px;
                    height: 65px;
                }
            }
            .logo-text
            {
                h2 
                {
                    font-family: gothamBlack;
                }
            }
        }
        .search-field
        {
            position: relative;
            svg
            {
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translate(-50%, -50%);
            }
        }
        .cls-btn
        {
            justify-self: end;
            
        }
    }
    .lower-part
    {
        // @include primarySectionPadding();
        padding: 20px 0 0 0;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        .tab
        {
            display: flex;

            .tablink 
            {
                font-family: gothamRegular;
                margin-right: 40px;
                transition: 0.3s ease-in-out;
                color: $thirdWhiteClr;
                padding-bottom: 10px;
                border-bottom: 3px solid transparent;
                transform: translateY(7px);
                cursor: pointer;

                &:hover
                {
                    color: $primaryWhiteClr;
                }
            }
            
            .tablink.active 
            {
                color: $primaryWhiteClr;
                border-bottom: 3px solid;
                border-color: $primaryWhiteClr;
            }
        }
        .hamburger
        {
            padding-bottom: 10px;
            justify-self: end;
            align-self: start;
        }

        
    }


}

.search-modal
{
    .tabcontent
    {
        @include primarySectionPadding();
        display: none;

        p
        {
            margin: 5px 0;
            line-height: 1.2em;
        }
        .view-more
        {
            p 
            {
                margin: 10px 0;
                font-family: gothamMedium;
                color: $primarySolidClr;
            }
        }
    }
    .tabcontent.active 
    {
        display: block;
    }
}

// .offer-modal-bg
// {
//     display: block;
// }

.offer-modal
{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;

    .countdown-part
    {
        padding: 20px;
        background: linear-gradient(to right, #001646 0%, #16608b 100%);
        color: $primaryWhiteClr;
        .wrap
        {
            padding: 20px;
            border: 1px dashed $thirdWhiteClr;
            >* 
            {
                margin: 15px 0;
            }
            .title
            {
                h3
                {
                    font-family: gothamMedium;
                    line-height: 1.3em;
                }

            }
            .countdown 
            {
                text-align: center;
                padding: 10px 0;
                background: $primaryGradClr;
                border-radius: 6px;

                h2
                {
                    font-family: gothamMedium;
                }
            }

            
        }
        > .text-content
        {
            margin: 20px;
            
            p
            {
                font-size: 18px;

            }
        }
    }
    .avail-part
    {
        position: relative;
        padding: 40px;

        > *
        {
            margin: 15px 0;
        }
        .title
        {
            display: flex;
            align-items: center;
            grid-gap: 15px;

            h3 
            {
                color: $primarySolidClr
            }
        }
        .form 
        {
            > *
            {
                margin: 15px 0;
            }
            input,button 
            {
                width: 100%;
            }
        }
        .text-content 
        {
            p 
            {
                font-size: 18px;
            }
        }
        .cls-btn
        {
            position: absolute;
            top: 30px;
            right: 10px;
            transform: translate(-50%, -50%);

            button 
            {
                background-color: $thirdWhiteClr;
                
            }
        }
    }

}