section.offer
{
    position: sticky;
    top: 0;
    background: $primaryGradClr;
    @include primarySectionPadding();
    padding-top: 10px;
    padding-bottom: 10px;
    color: $primaryWhiteClr;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    


    .title
    {
        justify-self: end;
    }
    .countdown
    {
        justify-self: start;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;

        span 
        {
            padding: 5px 8px;
            border-radius: 4px;
            background: rgba($color: #2b2b2b, $alpha: 0.25);
        }
        .open-btn
        {
            text-decoration: underline;
            cursor: pointer;
            
        }
    }
    
    .cls-btn
    {
        // justify-self: end;
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translate(-50%,-50%);
        button 
        {
            border-radius: 50%;
            padding: 5px;
            border: none;
            background: rgba($color: #2b2b2b, $alpha: 0.25);
            display: grid;
            align-items: center;
            justify-items: center;
            
            &:hover 
            {
                background-color: rgba($color: #2b2b2b, $alpha: 0.50);
            }
        }
    }
    
}

@media screen and (max-width:1100px) and (min-width: 801px) 
{
    section.offer
    {
        grid-template-columns: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        
        .title
        {
            justify-self: center;
        }
        .countdown
        {
            justify-self: center;
        }
    }
}

@media screen and (max-width:800px) and (min-width: 501px) 
{
    section.offer
    {
        grid-template-columns: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        .title
        {
            justify-self: center;
        }
        .countdown
        {
            justify-self: center;
        }
    }
}

@media screen and (max-width:500px) and (min-width: 270px) 
{
    section.offer
    {
        grid-template-columns: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        .title
        {
            justify-self: center;
            text-align: center;
        }
        .countdown
        {
            justify-self: center;
            grid-template-columns: auto;
            justify-items: center;
            p 
            {
                text-align: center;
            }
            
        }
        .cls-btn
        {
            top: auto;
            bottom: 0%;
        }
    }
}