section.sub-header
{
    @include secondarySectionPadding();
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    border-bottom: 1px solid $thirdWhiteClr;
    background-color: $forthWhiteClr;
    // box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.25);
    
    .megamenu
    {
        width: fit-content;
        .menu-btn
        {
            padding: 10px;
            pointer-events: all;
            z-index: 99;

            p 
            {
                display: flex;
                align-items: center;
            }
            i 
            {
                margin-left: 5px;
            }
        }
        
        .menu-content
        {
            padding: 30px 50px;
            background-color: $primaryWhiteClr;
            margin-top: 0px;
            width: 100%;
            // height: 35em;
            position: absolute;
            left: 0;
            z-index: 99;
            overflow: hidden;
            opacity: 0;
            // transform: translateY(-100%);
            height: 0;
            transition: 0.4s;

            // .search-field
            // {
            //     position: relative;

            //     input 
            //     {
            //         padding-left: 45px;
            //         width: 50%;
            //         color: $secondaryBlackclr;
            //     }
            //     input::placeholder
            //     {
            //         color: $thirdWhiteClr;
            //     }
            //     button 
            //     {
            //         padding: unset;
            //         background-color: unset;
            //         position: absolute;
            //         top: 50%;
            //         left: 25px;
            //         transform: translate(-50%, -50%);
            //     }
            // }
            .catagories
            {
                
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                
                .catagory-wrap
                {
                    padding: 20px;
                    
                }
                .main-cata
                {
                    h5
                    {
                        color: $secondarySolidClr;
                        
                    }
                }
                .sub-cata
                {
                    margin: 20px 10px;
                    p
                    {
                        
                        line-height: 1.5em;
                    }
                }
            }
        }
        // &:hover .menu-content
        // {
        //     // transform: translateY(0%);
            
        //     opacity: 1;
        //     height: 35em;
        //     z-index: 99;
        // }
        .megamenu-active 
        {
            opacity: 1;
            height: 80vh;
            z-index: 99;
        }
    }
    .nav-menu
    {
        display: grid;
        grid-template-columns: auto auto auto auto;
        z-index: 99;
        a 
        {
            h4
            {
                width: fit-content;
                padding: 6px 18px;
                border-radius: 100px;
                transition: 0.3s ease-in-out;

                &:hover
                {
                    background: rgba($color: #F1F1F1, $alpha: 1.0);
                }
            }
        }
        
    }

    
    .drop-down 
    {
        justify-self: end;
        position: relative;

        .hamburger-menu
        {
            
            z-index: 99;
            button 
            {
                padding: 5px;
                border-radius: 50%;
                display: grid;
                align-items: center;
                background-color: $thirdWhiteClr;

                &:hover 
                {
                    background-color: $forthBlackClr;
                }
            }
        }
        .menu-content
        {
            padding: 20px 0;
            background-color: $primaryWhiteClr;
            margin-top: 0px;
            width: fit-content;
            // height: 35em;
            position: absolute;
            right: 0px;
            
            opacity: 0;
            // transform: translateY(-100%);
            transition: 0.4s;
            box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);

            .cata 
            {
                p
                {
                    white-space: nowrap;
                    padding: 5px 30px;

                    &:hover 
                    {
                        background-color: $forthWhiteClr;
                        // text-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.25);
                    }
                }
            }
        }

        .active
        {
            transform: translateY(0%);
            opacity: 1;
            
            z-index: 999;
            background-color: $primaryWhiteClr;
        }
    }
}

@media screen and (max-width:800px) and (min-width: 501px)
{
    .sub-header 
    {
        .nav-menu
        {
            .nav-three, .nav-four
            {
                display: none;
            }
        }
    }
}


@media screen and (max-width:500px) and (min-width: 270px)
{
    .sub-header 
    {
        .nav-menu
        {
            .nav-three, .nav-four, .nav-two
            {
                display: none;
            }
        }
    }
}