section.sub-header
{
    @include primarySectionPadding();
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    
    box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.25);
    
    .megamenu
    {
        width: fit-content;
        .menu-btn
        {
            padding: 10px;
            pointer-events: all;
            z-index: 99;
        }
        
        .menu-content
        {
            padding: 30px 50px;
            background-color: $primaryWhiteClr;
            margin-top: 0px;
            width: 100%;
            height: 35em;
            position: absolute;
            left: 0;
            z-index: -1;
            opacity: 0;
            transform: translateY(-100%);
            transition: 0.4s;

            .search-field
            {
                position: relative;

                input 
                {
                    padding-left: 45px;
                    width: 50%;
                    color: $secondaryBlackclr;
                }
                input::placeholder
                {
                    color: $thirdWhiteClr;
                }
                button 
                {
                    padding: unset;
                    background-color: unset;
                    position: absolute;
                    top: 50%;
                    left: 25px;
                    transform: translate(-50%, -50%);
                }
            }
            .catagories
            {
                
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                
                .catagory-wrap
                {
                    padding: 20px;
                    
                }
                .main-cata
                {
                    h3
                    {
                        color: $primarySolidClr;
                        
                    }
                }
                .sub-cata
                {
                    margin: 20px 10px;
                    p
                    {
                        font-size: 18px;
                        line-height: 1.5em;
                    }
                }
            }
        }
        &:hover .menu-content
        {
            transform: translateY(0%);
            opacity: 1;
            
            z-index: 10;
        }
    }
    .nav-menu
    {
        display: grid;
        grid-template-columns: auto auto auto auto;
        z-index: 99;
        a 
        {
            h4
            {
                width: fit-content;
                padding: 6px 18px;
                border-radius: 100px;
                transition: 0.3s ease-in-out;

                &:hover
                {
                    background: rgba($color: #F1F1F1, $alpha: 1.0);
                }
            }
        }
        
    }

    
    .drop-down 
    {
        justify-self: end;

        .hamburger-menu
        {
            
            z-index: 99;
            button 
            {
                padding: 5px;
                border-radius: 50%;
                display: grid;
                align-items: center;
            }
        }
        .menu-content
        {
            padding: 20px 0;
            background-color: $primaryWhiteClr;
            margin-top: 0px;
            // width: fit-content;
            // height: 35em;
            position: absolute;
            right: 80px;
            z-index: -1;
            opacity: 0;
            transform: translateY(-100%);
            transition: 0.4s;
            box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);

            .cata 
            {
                h4 
                {
                    
                    padding: 5px 30px;

                    &:hover 
                    {
                        background-color: $forthWhiteClr;
                        // text-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.25);
                    }
                }
            }
        }

        .active
        {
            transform: translateY(0%);
            opacity: 1;
            
            z-index: 1;
        }
    }
}