* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 4px 1px #f0f0f0 inset;
          box-shadow: 0px 0px 4px 1px #f0f0f0 inset;
  -webkit-text-fill-color: #000;
  border-color: rgba(0, 0, 0, 0.1);
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #000;
  border-color: rgba(0, 0, 0, 0.1);
}

hr.black-hr {
  height: 0.3px;
  background: rgba(112, 112, 112, 0.5);
  border: none;
  margin: 20px 0;
}

h1.black {
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 1em;
}

h1.bold {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1em;
  letter-spacing: -0.03em;
}

h1.medium {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 36px;
}

h1.regular {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
}

h2.black {
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  font-size: 24px !important;
  line-height: 1em;
}

h2.bold {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1em;
}

h2.medium {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

h2.regular {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

h3.black {
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 1.2em;
}

h3.bold {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2em;
}

h3.medium {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

h3.regular {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
}

h4.black {
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.5em;
}

h4.bold {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: -0.03em;
}

h4.medium {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5em;
}

h4.regular {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
}

h4.light {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: -0.01em;
}

h4.black-small {
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.5em;
}

h4.bold-small {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: -0.03em;
}

h4.medium-small {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5em;
}

h4.regular-small {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
}

h4.light-small {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: -0.01em;
}

p.bold {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5em;
}

p.medium {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5em;
}

p.regular {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
}

p.black-small {
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.2em;
}

p.bold-small {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2em;
}

p.medium-small {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5em;
}

p.regular-small {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
}
/*# sourceMappingURL=all.css.map */